.card img {
  width: 100%;
  height: auto;
}

.card-deck .card {
  @media screen and (min-device-width: 576px) and (max-device-width: 768px) {
    margin-bottom: 15px;
    flex: 0 0 29.333333%;
    margin-bottom: 15px;
    margin-right: 2%;
    margin-left: 2%;
  }
}
