// Define header styles.
.container-fluid.footer {
  background: $grey;
  color: $white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  .row {
    display: flex;
    align-items: center;
  }

  a {
    color: $white;
  }
}

#block-menu-menu-social-links ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;

  li.leaf {
    list-style: none;
  }

  li {
    a {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-indent: -9999px;
      background-repeat: no-repeat;

      &.facebook {
        background-image: url(../img/fb.svg);
      }

      &.instagram {
        background-image: url(../img/instagram.svg);
      }

      &.twitter {
        background-image: url(../img/twitter.svg);
      }

      &.linkedin {
        background-image: url(../img/linkedin.svg);
      }

      &.youtube {
        background-image: url(../img/youtube.svg);
      }
    }
  }
}

/* line 149, ../sass/pages.scss */
.page-basic .footer a:hover {
  text-decoration: underline;
}
/* line 155, ../sass/pages.scss */
.page-basic .footer a img {
  width: 73%;
  float: left;
  filter: none;
}
/* line 159, ../sass/pages.scss */
.page-basic .footer a img:hover {
  filter: none;
}


