// Define header styles.

.header-section {
  background: $red;
  float: left;
  width: 100%;
}

.left-menu-trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  background: #bebebe url(../images/mobile-menu.png) no-repeat center center;
  cursor: pointer;
  display: none;

  @media (max-width: 700px) {
     display: block;
  }
}

.header-link {
  float: right;
  margin: 20px 28px 0 0;
  color: #fff;

  a {
    color: #fff;
    font-size: 11px;
    margin-left: 10px;

    &:first-child {
      margin-right: 10px;
    }
  }
}

.page-basic .pane-pane-header .col-md-9 {
    background: #8c1515;
    overflow: hidden;
    height: 80px;

  @media only screen and (min-width: 700px) {
    background: #8c1515 url(../img/header-connectors_clean.png) no-repeat 230px 0;
  }
}

.main-menu .nice-menu-menu-top-nav-menu.nice-menu li.depth-1 {
  background: url(../img/menu-del.png) no-repeat left center;
  width: 16.66%;
  height: 31px;
  border: none;

  @media only screen and (min-width: 700px)  {
    margin-right: 22px;
    width: auto;
    background: none;
  }
}

div#logo-title img {
  margin-top: 24px;
}

.header-link {
  float: right;
  margin: 20px 28px 0 0;
  color: #fff;
  margin-top: -50px;
}

.page-basic .sidebar-menu {
  display: none;

  @media (max-width: 700px) {
    .page-basic .sidebar-menu {
      position: absolute;
      left: 0;
      top: 0;
      width: 30%;
      display: block;
    }
  }
}

.main-menu .nice-menu-menu-top-nav-menu.nice-menu li.depth-1 {
  @media only screen and (min-width: 700px) {
    margin-right: 22px;
    width: auto;
    background: none;
  }
}

