/* Paragraph Padding */
.paragraph__column.padding-top--off {
  padding-top: 0 !important;
}

.paragraph__column.padding-top--sm {
  padding-top: 30px !important;
}

.paragraph__column.padding-top--md {
  padding-top: 45px !important;
}

.paragraph__column.padding-top--lg {
  padding-top: 60px !important;
}

.paragraph__column.padding-bottom--off {
  padding-bottom: 0 !important;
}

.paragraph__column.padding-bottom--md {
  padding-bottom: 45px !important;
}

.paragraph__column.padding-bottom--lg {
  padding-bottom: 60px !important;
}
