.card-header {
  background: $lightestgrey;
  text-align: center;
  padding: 30px;
  font-size: 32px;

  img {
    max-height: 56px;
    width: auto;
    margin-bottom: 15px;
  }

  h5.card-title {
    font-size: 32px;
  }
}
