ul.time-line {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  max-width: 760px;

  li.item.timeline {
    background: rgba(77, 79, 83, 0.75);
    color: #fff;
    margin: 5%;
    padding: 30px;
    border-radius: 8px;

    @media(min-width: 768px) {
      min-height: 180px;
      width: 40%;
      float: left;
      margin: 0 5%;
    }
  }
}

li.item.timeline:nth-of-type(even) {
  @media(min-width: 768px) {
    margin-top: 40px !important;
  }
}

.time-line-container {
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
