ul.time-line {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  max-width: 760px;

  li.item.timeline {
    background: rgba(77, 79, 83, 0.75);
    color: #fff;
    margin: 0 5%;
    width: 40%;
    float: left;
    padding: 30px;
    border-radius: 8px;
    min-height: 180px;
  }
}

li.item.timeline:nth-of-type(even) {
  margin-top: 40px !important;
}

.time-line-container {
  background-size: cover;
  background-repeat: no-repeat;
  float: left;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
