//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
//   @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;


// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

.paragraph-item.paragraph-type--image img {
  width: 100%;
  height: auto;
}

.paragraph-item.paragraph-type--image.full,.paragraph-item.paragraph-type--simple.full,.paragraph-item.paragraph-type--video.full {
  @media (min-width: 901px){
    margin: 0.35em 0 1em -16.5%;
    @include zen-grid-container();
  }
}

.paragraph-type--simple{
  font-size: 18px!important;
  line-height: 1.6!important;
  color: #474748;
  font-family: "Source Sans Pro"!important;
}

.hero-image img {
  width: 100%;
  height: auto;
}


.media-vimeo-video,.media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.media-vimeo-video iframe,
.media-vimeo-video object,
.media-vimeo-video embed,
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.share-buttons {
  @media (max-width: 900px){
    margin-top: 30px;

    li {
      display: inline !important;
    }

    img {
      width: 30px !important;
    }
  }
}

.node-type-news-article .field-name-field-image.field-type-image {
  .field-items {
    padding: 0;
  }

  .field-item {
    float: left;
    text-align: center;
    list-style: none;
    padding: 8px;
  }
  @media (min-width: 769px){
    /* one item */
    .field-item:first-child:nth-last-child(1) {
      width: 98%;
    }

    /* two items */
    .field-item:first-child:nth-last-child(2),
    .field-item:first-child:nth-last-child(2) ~ .field-item {
      width: 47.5%;
    }

    /* three items */
    .field-item:first-child:nth-last-child(3),
    .field-item:first-child:nth-last-child(3) ~ .field-item {
      width: 31%;
    }

    /* four items */
    .field-item:first-child:nth-last-child(4),
    .field-item:first-child:nth-last-child(4) ~ .field-item {
      width: 22.5%;
    }

    /* five items */
    .field-item:first-child:nth-last-child(5),
    .field-item:first-child:nth-last-child(5) ~ .field-item {
      width: 15%;
    }
  }
}
