@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    -ms-box-shadow:inset $top $left $blur $spread $color;
    -o-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    -ms-box-shadow: $top $left $blur $spread $color;
    -o-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin links ($fz:12px, $font-color:#881728, $text-decoration:none) {
  font-size: $fz;
  color: $font-color;
  text-decoration: $text-decoration;
  line-height: normal;
}


/* Grids */

@import "zen";


  $zen-gutter-width: 2%;  
  $zen-column-count: 24;  
  .container {
    @include zen-grid-container(); 
  }

  /* Front page layout */
  .slider{
    @include zen-grid-item(24, 1);
  } 
  
  .frontpage-left-col{
    @include zen-grid-item(4, 1);
  }

  .middleright-wrapper{
    @include zen-grid-item(20, 5);
  }

  /* Three col layout */

  .three-col .three-col-left{
    @include zen-grid-item(4, 1);
  }

  .three-col .three-col-middle-right{
    @include zen-grid-item(20, 5);
  }

  .pane-page-content > .pane-title{
    @include zen-grid-item(15, 5);
  }

  .one-col-basic .pane-page-content > .pane-content,
  .one-col-basic .pane-page-content > .pane-title,
  .node-type-news-article .pane-page-content > .pane-content,
  .node-type-news-article .pane-title{
    @include zen-grid-item(22, 2);
  }

  .two-col-basic .pane-page-content > .pane-title,
  .general-two-col .pane-page-content > .pane-title,
  .general-two-col .general-left{
    @include zen-grid-item(18, 1);
  }
  .general-two-col .general-right{
    @include zen-grid-item(6, 19);
  }

  .two-col-leftsidebar .general-left{
    @include zen-grid-item(6, 1);
  }

  .two-col-leftsidebar .general-right,
  .two-col-leftsidebar-layout .pane-page-content > .pane-title{
    @include zen-grid-item(18, 7);
  }


@media (max-width: 900px) {

  $zen-gutter-width: 3%;  
  $zen-column-count: 15;  

  /* Front page layout */

  .slider{
    @include zen-grid-item(15, 1);
  } 
  
  .frontpage-left-col{
    @include zen-grid-item(3, 1);
  }

  .middleright-wrapper{
    @include zen-grid-item(12, 4);
  } 

  .three-col .three-col-left{
    @include zen-grid-item(3, 1);
  }

  .pane-page-content > .pane-title,
  .three-col .three-col-middle-right{
    @include zen-grid-item(12, 4);
  }

  .general-two-col .general-left{
    @include zen-grid-item(15, 1);
  }

  .general-two-col .general-right{
    @include zen-grid-item(5, 1);
  }

  .two-col-leftsidebar .general-left{
    @include zen-grid-item(3, 1);
  }
  
  .two-col-leftsidebar .general-right,
  .two-col-leftsidebar-layout .pane-page-content > .pane-title{
    @include zen-grid-item(12, 4);
  }
}

@media (max-width: 600px) {


  $zen-gutter-width: 7%;  
  $zen-column-count: 4;  

  /* Front page layout */

  .slider,
  .frontpage-left-col,
  .middleright-wrapper,
  .three-col .three-col-left,
  .three-col .three-col-middle-right,
  .pane-page-content > .pane-title,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .two-col-leftsidebar .general-left,
  .two-col-leftsidebar .general-right,
  .two-col-basic .pane-page-content > .pane-title{
    @include zen-grid-item(4, 1);
    clear: both;
  } 
}