@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    -ms-box-shadow:inset $top $left $blur $spread $color;
    -o-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    -ms-box-shadow: $top $left $blur $spread $color;
    -o-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
  }
}

@mixin rounded_corners ($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin links ($fz:12px, $font-color:#881728, $text-decoration:none) {
  font-size: $fz;
  color: $font-color;
  text-decoration: $text-decoration;
  line-height: normal;
}


/* Grids */

@import "zen";


  $zen-gutter-width: 2%;  
  $zen-column-count: 24;  
  .container {
    @include zen-grid-container(); 
  }

  /* Front page layout */
  .slider{
    @include zen-grid-item(24, 1);
  } 
  
  .frontpage-left-col{
    @include zen-grid-item(4, 1);
  }

  .frontpage-middle-col{
    @include zen-grid-item(15, 5);
  }

  .frontpage-right-col{
    @include zen-grid-item(5, 20);
  }

  /* Three col layout */

  .three-col .three-col-left{
    @include zen-grid-item(4, 1);
  }

  .three-col .three-col-middle{
    @include zen-grid-item(15, 5);
  }

  .three-col .three-col-right{
    @include zen-grid-item(5, 20);
  }

  .pane-page-content > .pane-title{
    @include zen-grid-item(15, 5);
  }

  .general-two-col .pane-page-content > .pane-title{
    @include zen-grid-item(24, 1);
  }

  .general-two-col .general-left{
    @include zen-grid-item(18, 1);
  }
  .general-two-col .general-left{
    @include zen-grid-item(6, 19);
  }



@media (max-width: 900px) {

 
}

@media (max-width: 600px) {


}
