@import "mixins";


/* Slider */
.slider {
  position: relative;
}

.front-slider {
  padding-bottom: 15px;
  .views-slideshow-cycle-main-frame-row {
    width: 100% !important;
  }
  .views-field-nothing {
    display: inline;
    overflow: hidden;
  }
  .views-field-field-image {
    float: left;
    width: 62%;
  }
  .views-slideshow-controls-text span {
    position: absolute;
    top: 40%;
    z-index: 99;
    width: 30px;
    height: 74px;
    display: block;
    overflow: hidden;
    background: url('../images/slider-arrow-bg.png') repeat;
    @include rounded_corners(10px);   
    a {
      display: block;
      background: url('../images/slider-back.png') no-repeat center;
      height: 1px;
      padding: 73px 0 0 0;
    }
  }
  .views-slideshow-controls-text-previous {
    left: 20px;
  }
  .views-slideshow-controls-text-next {
    right: 20px;
  }
  span.views-slideshow-controls-text-next a{
    background-image: url('../images/slider-next.png');
  }
  span.views-slideshow-controls-text-pause {
    display: none;
    a {
      display: none;
    }
  }
  .views-slideshow-pager-fields {
    position: absolute;
    left: 45%;
    bottom: 3px;
    z-index: 99;
    margin: 0;
    background: #D5D8DA;
    padding: 5px;
  }
  .views-slideshow-pager-field-item {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    text-indent: 100px;
    background: #b8b9bb;
    border: 1px solid #666666;
    margin: 1px 7px 0;
    &.active {
      background: white;
      border:1px solid #666;
    }
  }
}

.slide-text-side {
  font-size: 17px;
  color: #fff;
  width: 32%;
  padding: 20px 3%;
  line-height: 23px;
  height: 224px;
  letter-spacing: .03em;
  a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    line-height: normal;
    padding-bottom: 20px;
    display: block;
    letter-spacing: .04em;
  }
}

/* Main menu */

.left-menu {
  &.highlited .pane-title{
    margin: 0;
    a{
      text-transform: none;
      font-size: 14px;
      padding-left: 8px;
      color: #881728;
    }
  }
  .menu li {
    border-bottom: 1px solid #d4d4d4;
    font-size: 12px;
    line-height: normal;

    &.active{
      background-color: #eeeeee;
    }

    a {
      display: block;
      padding-left: 8px;
      margin: 0;
      line-height: 38px;
      text-decoration: none;
    }
  }
  .depth-2.active-trail{
  background-color: #eeeeee;
  }
}

/* */

.frontpage-right-col .highlited .pane-title{
  margin-bottom: 6px;
}  

.frontpage-right-col .connect .pane-title{
  margin-bottom: 0;
}


.highlited {
  margin-bottom: 16px;
  .field-label, 
  .pane-title{
    border-bottom: 2px solid #831425;
    font-size: 12px;
    color: #7f6332;
    padding-bottom: 2px;
    margin-bottom: 12px;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    a{
      color: #7f6332;
      text-decoration: none;
    }
  }
  &.news-list .pane-title{
    margin-bottom: 0;
  }
}

.video-block{
  .field-item {
    border-top: 1px dashed #c7c8c8;
    padding: 18px 0 25px 0;
    font-size: 12px;
    overflow: hidden;
    &:first-child {
      border-top: none;
      padding-top: 9px;
    }
    img {
      border-top: 0;
      border-left: 0;
      width: 97%;
      height: auto;
      float: left;
      @include box-shadow(3px, 3px, 2px, 0px, #888);
    }
    .youtube-video-popup a {
      @include links(11px);
      float: left;
      width: 100%;
    }
  }
  a.youtube-title{
    padding-top: 12px;
  }
  .youtube-thumbnail{
    position: relative;
    &:after{
      content: url('../images/video-icon.png');
      float: right;
      width: 22px;
      height: 22px;
      position: absolute;
      bottom: 7px;
      right: 9px;
    }
  }
}

.events{
  font-size: 11px;
  line-height: normal;
  color: #555;
  a{
    font-size: 11px;
  }
}

.bg-list {
  .field-item, .social_links {
    padding: 10px 0;
    margin-bottom: 0;
    background: white url('../images/list-bg.png') repeat-x bottom;
    width: 100%;
    overflow: hidden;
  }
  .field-item a {
    @include links();
    display: block;
    width: 90%;
    margin: 0 5%;
  }
  .social_links li {
    width: 20%;
    text-align: center;
    a {
      margin: auto;
    }
  }
}

.related-links {
  .field-label, 
  .pane-title {
    border-bottom-color: #6d6c6c;
    color: #807f7f;
    font-size: 11px;
    text-transform: uppercase;
    line-height: normal;
  }
  .pane-title{
    line-height: 16px;
  }
  .field-item .field-item, 
  .menu li,
  ul.news-archive-links li{
    font-size: 11px;
    line-height: 18px;
    margin: 0 3%;
    width: 94%;
  }
  .field .field .field-item a, 
  .menu li a,
  ul.news-archive-links a{
    padding-left: 5%;
    width: 95%;
    background: url('../images/red-arrow.png') no-repeat 0 5px;
    @include links();
    display: block;
    font-size: 11px;
    line-height: 18px;
  }
}

.front-news {
  font-size: 12px;
  color: #828282;
  font-style: italic;
  .views-row {
    padding-bottom: 14px;
    div{
      display: inline;
    }
  }
  a {
    font-style: normal;
  }
}

  .introduction-block {
    line-height: 20px;
  }

  .pane-node-field-image {
    margin-bottom: 8px;
    width: 98%;
    padding: 1%;
    background: #e0e0e1;
    img {
      width: 100%;
      height: auto;
    }
  }


/* Content styles */


.pane-node-body{
  p{
    line-height: 20px;
    font-size: 13px;  
    color: #474748;
  }
  li{
    list-style-type: disc;
    list-style-position: inside;
    color: #79182A;
    line-height: 22px;
    width: 95%;
    margin-left: 5%;
  }
  a{
    font-size: 13px;
  }
  .content-title{
    line-height: normal;
    color: #666;
    font-size: 15px;
    font-weight:bold;
    margin: 20px 0 10px;
  }

  .page-link{
    font-size: 12px;
    margin-top: 15px;
    display: block;
  }
  img{
    max-width: 100%;
  }
}


.content-block{
    padding-top: 26px;
  .content-block-heading {
    border-bottom: 2px solid #831425;
    font-size: 14px;
    padding: 6px 0 2px 7px;
    letter-spacing: 1px;
    color: #7F6332;
  }
  .content-block-body{
    margin-top: 20px;
  }
}

.shaded-background{
  margin-top: 0;
  .content-block-body {
    background: #f6f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ebebeb));
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: -ms-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: linear-gradient(to bottom, #f6f6f6 0%, #ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ebebeb',GradientType=0 );
    width: 94%;
    padding: 20px 3%;
    font-size: 13px;
    overflow: hidden;
    margin-top: 0;
  }
  li{
    width: 100%;
    margin: 0;
  }
}

.images .content-block-body{
  padding: 20px 1% 0;
  width: 98%;
}

.contentInnerBoxStyle4{
  float: left;
  width: 23%; 
  margin: 0 1% 20px;
  div{
    margin-bottom: 3px;
    color: #333;
    font-size: 12px;
    line-height: normal;
    font-weight:bold;
    a{
      font-weight: normal;
      &:hover {
        border-bottom: 1px dotted #996633;
      }
    }
  }
  img{
    width: 100%;
    height: auto;
  }
}

.one-image{
  .content-block-body{
    width: 97%;
    padding: 10px 1.5%;
  }
  .content-block-body-inner{
    float: left;
    width: 70%;
    margin-right: 5%;
  }  
  .content-graphic-block{
    float: right;
    width: 25%;
  }
  .content-graphic-block img{
    width: 100%;
    height: auto;
    display: block;
  }
}

.clear{
  width: 100%;
  height: 1px;
  clear: both;
}


/* */

.middletop{
  .highlited{
    margin-bottom: 17px;
  }
     
  .pane-content{
    line-height: 18px;
    width: 98.5%;
    margin-left: 1.5%;
    border-bottom: 1px solid #bbbdbe;
    overflow: hidden;
    padding-bottom: 22px;
  }

  .views-field-nothing{
    float:left;
    width: 55%;  
  }

  .views-field-title a{ 
    font-size: 16px;
    font-weight: 100;
    line-height: normal;
    padding-bottom: 10px;
  }

  .views-field-field-image{
    float: right;
    width: 42%;
    margin-left: 3%;
    img{
      width: 100%;
      height: auto;
    }
  }
}


.middleleft { 
  .views-row{
    width: 100%;
    border-bottom: 1px solid #bbbdbe;
    font-size: 11px;
    line-height: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .views-row-last{
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .views-field-title a{
    font-size: 13px;  
    padding-bottom: 5px;
  }

  .views-field-nothing{
    float:left;
    width: 55%;  
  }

  .views-field-field-image{
    float: right;
    width: 42%;
    margin-left: 3%;
    img{
      width: 100%;
      height: auto;
    }
  }

} 

/* News list */

.news-list{
  margin: 35px 0 0 0;
  &:first-child{
    margin-top: 0;
  }
  .views-row{
    padding: 15px 12px 18px 36px;
    width: auto;
    background: url('../images/dotted-border.png') repeat-x bottom;
    overflow: hidden;
  }

  .views-row-last{
    background: none;
  }

  .views-field-nothing{
    float: left;
    width: 76%;
    color: #373738;
    font-size: 12px;
    line-height: normal;
  }

  .views-field-field-image{
    float: right;
    width: 20%;
    margin-left: 4%;
    img{
      width: 100%;
      height: auto;
    }
  }

  .views-field-created{
    color: #474747;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .views-field-title a{
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 4px;
  }

  .views-field-body{
    line-height: 16px;
    color: #474747;
  }
} 







@media (max-width: 900px) {

}


@media (max-width: 600px) {

}


