
@import "mixins";


/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background: #e9e9e9 url('../images/bg.jpg') repeat top;
  font-family: "Arial", sans-serif;  
}

a{
  @include links(); 
}

a img{
  opacity: 1;
  filter: alpha(opacity=100);
  &:hover{
    opacity: .9;
    filter: alpha(opacity=90);
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

/* Basic styles */

.page-basic {
  background: transparent;
  overflow: hidden;
  > .panel-panel {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    clear: both;
  }
  > .content{
    background: #fff;
    padding: 15px 0 35px;
  }
  .footer{
    background: #878787;
    color: #fff;
    font-size: 10px;
    padding: 16px 0 10px;
    line-height: 15px;
  }

  .panels-flexible-region-first {
    width: 75%;
    max-width: 570px;
  }
  .panels-flexible-region-last {
    width: 21%;
    float: right;
    img {
      width: 100%;
      height: auto;
    }
  }
  .content > .inside, .footer > .inside {
    margin: 0 2%;
    width: 96%;
  }

  .content > .inside{
    .not-front &{
      width: 98%;
      margin: 0 1%;
    }
  }
  .header {
    background: url('../images/header-bg.jpg') repeat-x top;
    img {
      float: left;
      margin-top: 23px;
    }
  }

  .pane-pane-header {
    height: 80px;
    background: url("../images/header-connectors.png") no-repeat 230px 0;
    margin: 0 2%;
    width: 96%;
  }
  #name-and-slogan {
    display: none;
  }
}


.pane-menu-menu-footer-menu {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 6px;
  .menu {
    li {
      float: left;
      width: 21%;
      margin: 0;
      text-align:center;
      &.first{
        width: 15%;
        text-align:left;
      }
      &.last{
        text-align: right;
        width: 22%;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      padding-left: 9px;
      background: url('../images/footer-menu-arrow.png') no-repeat left 5px;
    }
  }
} 

/* Main menu */


  .main-menu {
  position: relative;
  z-index: 11;
  width: 100%;
  float: left;
  height: 31px;
  padding: 0 0 5px 0;
  background: url("../images/menu-bg.png") repeat-x bottom;
  ul {
    width: 100%;
    border: none;
    &.nice-menu li.depth-1 {
      background: url("../images/menu-del.png") no-repeat left center;
      width: 16.66%;
      height: 31px;
      border: none;
    }
    li.depth-1.first {
      background: transparent;
    }
    ul {
      padding-top: 2px;
      top: 32px;
      padding: 3px 0 0;
      width: 100%;
    }
  }
  .depth-1 > a {
    font-size: 12px;
    color: #5e5e5e;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 17px;
    display: block;
    height: 31px;
    line-height: 31px;
  }
  ul li.depth-1 {
    &:hover, &.active-trail {
      height: 30px;
      border-bottom: 2px solid #93303f;
    }
  }
  .depth-1:hover > a, .active-trail a {
    color: #881728;
  }



  .depth-2 {
    width: 92%;
    margin: 0;
    padding: 0;
    height: auto;
    padding: 0 4%;
    background: #efefef;
    border-top: none;
    a {
      line-height: normal;
      height: auto;
      padding: 7px 0;
      color: #881728;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover, &.active-trail {
      background: #fff;
    }
  }
}

.pane-page-content > {
  .pane-title {
    font-size: 24px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    top: 20px;
  }
  .pane-content {
    clear: both;
  }
}

/* Layouts */

.panel-frontpage .center-wrapper{
  clear:both;
}
.frontpage-middle-col{  
  line-height: 18px;
  font-size: 13px;
  @include box-shadow(2px, 2px, 2px, 1px, #e4e4e4);
  padding-bottom: 10px;
}

.frontpage-middle-left {
  width: 66%;
  float: left;
  margin: 2.5% 0 0 1.5%;
  border-right: 1px solid #bbbdbe;
  padding-right: 3%;
}

.frontpage-middle-right{
  width: 26%;
  float: right;
  margin-left: 2.5%;
}

.three-col-middle{
  font-size: 13px;
  margin: 19px 0 0 0;
}

.page-news-news-center .three-col-middle{
  margin-top: 0;
}

a.lightbox-processed{
  display:inline;
}

/* Image popup */

#imageData{
  position:relative;  
  padding: 0 0 45px 0;
  #bottomNav{
    margin: 0;
    height:auto;
    position:absolute;
    bottom: 3px;
    right: 5px;
  }
  #imageDetails{
    width: 95%;
    margin: 0 3%;
    p{
      text-align:left;
      font-weight: normal;
    }
  }
}  
  
@media (max-width: 700px) {
  .pane-menu-menu-footer-menu .menu li{
    &.first{
      width: 15%;
    }
    &.last{
      width: 22%;
    }
    a{
      font-size: 9px;
    }
  }
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  .page-basic{
    .pane-menu-menu-footer-menu{
      padding: 0;  
      .menu{
        li{
          background: #a1a1a1;
          clear: both;
          width: 100%;
          margin: 0 0 14px 0;
          text-align: left;
        }
        a{
          background: url('../images/footer-arrow.png') no-repeat right center;
          padding: 7px 0;
          margin: 0 12px;
          margin: 0 1% 0 2%;
          width: 97%;
          display: block;
        }
      }
    }
    .panels-flexible-region-first {
      width: 100%;
      padding-bottom: 15px;
    }  
    
    .panels-flexible-region-last{
      clear:both;
      float:none;
      width: 100%;
      text-align:center;
      img{
        width: auto;
      }
    }
  }
}