@import "mixins";


/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

/*
 * Body
 */

body {
  margin: 0;
  padding: 0;
  background: #e9e9e9 url('../images/bg.jpg') repeat top;
  font-family: "Arial", sans-serif;  
}

a{
  @include links(); 
}

a img{
  opacity: 1;
  filter: alpha(opacity=100);
  &:hover{
    opacity: .9;
    filter: alpha(opacity=90);
  }
}

input:focus{
  outline: none;
}


/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */

/* Basic styles */

.left-menu-trigger{
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height:  42px;
  background: #bebebe url('../images/mobile-menu.png') no-repeat center center;
  cursor: pointer;
  display: none;
}

.sidebar-menu .menu{
  ul{
    display:none;
  }
  li{
    background: #fff;
    border-bottom: 2px solid #b4b3b3;
  }
  a{
    width: 90%;
    padding: 12px 5%;
    height: 16px;
    display: block;
    text-transform:uppercase;
    color: #444;
    &.active-trail,
    &:hover{
      background: #f0efef;
    }
  }
}

.page-basic {
  background: transparent;
  overflow: hidden;
  > .panel-panel {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    clear: both;
    position: relative;
  }
  > .content{
    background: #fff;
    padding: 15px 0 35px;
  }
  .footer{
    background: #878787;
    color: #fff;
    font-size: 10px;
    padding: 16px 0 10px;
    line-height: 15px;
  }
  .sidebar-menu{
    display: none;
  }
  .panels-flexible-region-first {
    width: 75%;
    max-width: 570px;
  }
  .panels-flexible-region-last {
    width: 21%;
    float: right;
    img {
      width: 100%;
      height: auto;
    }
  }
  .content > .inside, .footer > .inside {
    margin: 0 2%;
    width: 96%;
  }

  .content > .inside{
    .not-front &{
      width: 98%;
      margin: 0 1%;
    }
  }
  .header {
    background: url('../images/header-bg.jpg') repeat-x top;
    position: relative;
    img {
      float: left;
      margin-top: 23px;
    }
  }

  .pane-pane-header {
    height: 80px;
    background: url("../images/header-connectors.png") no-repeat 230px 0;
    margin: 0 2%;
    width: 96%;
  }
  #name-and-slogan {
    display: none;
  }
}


.pane-menu-menu-footer-menu {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 6px;
  .menu {
    li {
      float: left;
      width: 21%;
      margin: 0;
      text-align:center;
      &.first{
        width: 15%;
        text-align:left;
      }
      &.last{
        text-align: right;
        width: 22%;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      padding-left: 9px;
      background: url('../images/footer-menu-arrow.png') no-repeat left 5px;
    }
  }
} 

/* Main menu */


  .main-menu {
  position: relative;
  z-index: 11;
  width: 100%;
  float: left;
  height: 31px;
  padding: 0 0 5px 0;
  display: block;
  background: url("../images/menu-bg.png") repeat-x bottom;
  ul {
    width: 100%;
    border: none;
    &.nice-menu li.depth-1 {
      background: url("../images/menu-del.png") no-repeat left center;
      width: 16.66%;
      height: 31px;
      border: none;
    }
    li.depth-1.first {
      background: transparent;
    }
    ul {
      padding-top: 2px;
      top: 32px;
      padding: 3px 0 0;
      width: 100%;
    }
  }
  .depth-1 > a {
    font-size: 12px;
    color: #5e5e5e;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 17px;
    display: block;
    height: 31px;
    line-height: 31px;
  }
  ul li.depth-1 {
    &:hover, &.active-trail {
      height: 30px;
      border-bottom: 2px solid #93303f;
    }
  }
  .depth-1:hover > a, .active-trail a {
    color: #881728;
  }



  .depth-2 {
    width: 92%;
    margin: 0;
    padding: 0;
    height: auto;
    padding: 0 4%;
    background: #efefef;
    border-top: none;
    a {
      line-height: normal;
      height: auto;
      padding: 7px 0;
      color: #881728;
      &:hover {
        text-decoration: underline;
      }
    }
    &:hover, &.active-trail {
      background: #fff;
    }
  }
}

.pane-page-content > {
  .pane-title {
    font-size: 24px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    top: 0;
  }
  .pane-content {
    clear: both;
  }
}

.content-block-other:first-child .shaded-background:first-child{
  padding: 0;
  margin-top: -23px;
}

.node-type-news-article .pane-page-content{overflow:hidden;}

.node-type-news-article .submitted{
  margin: 5px 0px 15px 0;
}

/* Layouts */

.panel-frontpage .center-wrapper{
  clear:both;
}
.frontpage-middle-col{  
  line-height: 18px;
  font-size: 13px;
  @include box-shadow(2px, 2px, 2px, 1px, #e4e4e4);
  padding-bottom: 10px;
  float:left;
  width: 72%;
  padding: 0 2% 10px 1%;
}

.frontpage-right-col{
  float:left;
  width: 23%;
  padding-left: 2%;
}

.frontpage-middle-right{
  width: 26%;
  float: right;
  margin-left: 2.5%;
}

.frontpage-right-col{
  float:left;
  width: 23%;
  padding-left: 2%;
}

.frontpage-middle-left {
  width: 66%;
  float: left;
  margin: 3px 0 0 1.5%;
  border-right: 1px solid #bbbdbe;
  padding-right: 3%;
}

.three-col-middle{
  font-size: 13px;
  margin: 19px 0 0 0;
}

.page-news-news-center .three-col-middle{
  margin-top: 0;
}

a.lightbox-processed{
  display:inline;
}

/* Image popup */

#imageData{
  position:relative;  
  padding: 0 0 45px 0;
  overflow: hidden;
  #bottomNav{
    margin: 0;
    height:auto;
    position:absolute;
    bottom: 3px;
    right: 5px;
  }
  #imageDetails{
    width: 95%;
    margin: 0 3%;
    p{
      text-align:left;
      font-weight: normal;
    }
  }
  #caption em a{
    position:absolute;
    bottom: 14px;
    right: 43px;
    font-size: 11px;
  }
}  

/* Meeting Rooms table */

.section-visiting-slac{
  table{
  font-size: 12px;
  line-height: normal;
  border: 1px solid #ada47d;
  .header{
    background: #ADA47D;
    color: #fff;
    font-weight: bold;
    padding: 8px 10px 8px;
  }
  td{
    padding: 8px 10px 8px;  
    border-top: 1px solid #ada47d;
    border-right: 1px solid #ada47d;
    }
  }
}

/* Past lectures */

.page-past-lectures{

  table{
    border: 2px solid #e7e7e7;
    border-bottom: none;
    th{
      border: none;
      border-bottom: 2px solid #e7e7e7;
      padding: 10px 8px;
      font-weight: bold;
      color: #000;
      background: #f7f7f7;
      a{
        color: #474748;
        font-size: 14px;
      }
    }
    tr{
      border:none;
    }
    .even td{
      background: #fff;
    }
    td{
      padding: 10px 8px;
      background: #f7f7f7;
      color: #6A6A6B;
      font-size: 12px;
      height: 28px;
      vertical-align: middle;
    }
  }
  .view-filters{
    margin-bottom: 15px; 
    label{
      color: #474747;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .form-text{
      border: 1px solid #d5d5d5;
      float: left;
      height: 22px;
      line-height: 22px;
      padding: 0 5px;
      margin: 0;
      color: #8C8C8C;
      font-size: 12px;
    }
  }
  .views-exposed-widget{
    padding: 16px 0 0 ;
  }
  .views-widget{
    overflow: hidden;
  }
  .description{
    clear: both;
    margin-top: 5px;
  }
  .views-submit-button{
    padding-top: 13px;
  }
}


.item-list .pager{
  margin-top: 20px;
}

/* Index page */

.page-general-site-indexaspx {
  .sections-letters{
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    margin-bottom: 30px;
  }

  .sections-letters a{
    padding: 0 5px 0 2px; 
    font-size: 13px;  
    font-weight: bold;
  }

table{
  tr{
    background: #fff;
    padding: 0;
  }
  td{
    padding-bottom: 20px;
  }
  &,
  tr,
  tr td{
    border: none;
  }

  }
  .index-letter,
  .small-index-letter{
    padding: 0 0 15px 0;
    font-weight:bold;
    color: #696969;
    font-size: 16px;
  }
  .small-index-letter{
    font-size: 13px;
  }
  ul{
    margin: 0 0 0 10px;
    ul{
      padding-bottom: 0;
    }
    li{
      list-style-type: square;
      color: #696969;
      font-size: 13px;
      color: #990000;
      a{
        color: #990000;
      }
      &.last{
        margin-bottom: 0;
      }
    }
  }
  .return-link a{
    margin-left: 10px;
    font-size: 11px;
    font-style: italic;
  }
  .staff-return-link{
    margin-bottom: 20px;
  }
  .staff-return-link a{
    font-size: 11px;
    font-style: italic;
  }
}

.node-news-article{
  line-height: 20px;
  font-size: 13px;
  color: #474748;
  margin-bottom: 10px; 
  .filter-wrapper{
    display:none;
  }
}

.two-col-basic .page-basic > .content,
.one-col-basic .page-basic > .content{
  overflow: hidden;
}  

.two-col-basic .pane-page-content > .pane-title,
.one-col-basic .pane-page-content > .pane-title{
  top: 0;
  margin-bottom: 10px;
}

.centerDiv{
  text-align:center;
  margin: 20px 0;
}
  
a.imageLessButton:hover {
  background-color: #dfdfdf;
  border: 1px solid #dcdcdc;
}

a.imageLessButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  font-family: arial;
  font-size: .8em;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
  color: #990000;
}

.section-set-search-optionaspx{
  .search-description{
    margin-bottom: 20px;
    color: #696969;
    line-height: 19px;
  }
  .pane-search-options{
    font-size: 12px;
    margin-top: 10px;
    input{
      margin-bottom: 45px;
    }
  }
}

/* Header search */

#search-box{
  float: right;
  position: relative;
  margin-top: 20px;
  .form-item{
    margin: 0;
    outline: none;
    padding: 1px 0 1px 10px;
    height: 22px;
    width: 160px;
    background: #fff;
  }
  input{
    width: 22px;
    height: 22px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    border: none;
    &:focus{
      outline: none;
    }
  }
  .form-text{
    width: 130px;
    font-size: .7em;
    color: #CCC;
  }
  .form-submit{
    position: absolute;
    right: 1px;
    top: 1px;
    background: url('../images/search-button.png') no-repeat center;
    text-indent: -100px;
    cursor:pointer;
  }
}

#slac-search-options{
  display:none;
  .form-item{
    background: transparent;
    padding: 0;
  }
  > .form-item{
    width: auto;
    max-width: 200px;
    background-color: #EFEFEF;
    color: #990000;
    font-size: 11px;
    z-index: 120;
    -moz-box-shadow: 1px 1px 3px #555;
    -webkit-box-shadow: 1px 1px 3px #555;
    -ms-box-shadow: 1px 1px 3px #555;
    box-shadow: 1px 1px 3px #555;
    float: none;
  }
  .form-item .form-type-radio{
    float:left;
    width: auto;
    width: 40%;
    height: 14px;
    margin: 4px 0 4px 10px;
  }
  .form-type-radio input{
    width: 14px;
    height: 14px;
    float:left;
    margin-right: 5px;
  }

  .form-type-radio label{
    line-height: 14px;
  }
}

.mobile-search-trigger{
  display: none;
}

.back-on-top{
  display: none;
}


.three-col .three-col-middle{
  width: 72%;
  float: left;
  margin-right: 3%;
}

.three-col .three-col-right{
  width: 25%;
  float: right;
}

.tablesorter{
  width: 100%;
  margin-top: 10px;
}

.map-print{
  margin-top: -20px;
}

.imgclass img{
  width: 100%;
  height:auto;
}

.mobile-search-box{
  display: none;
}

@media (min-width: 701px){
  .page-basic > .panel-panel{
    margin: auto !important;
  }
  .mobile-search-box{
    display: none !important;
  }
}

@media (max-width: 700px) {
  .pane-menu-menu-footer-menu .menu li{
    &.first{
      width: 15%;
    }
    &.last{
      width: 22%;
    }
    a{
      font-size: 9px;
    }
  }

  .left-menu-trigger{
    display: block;
  }
  
  .page-basic{
    overflow: hidden;
    position:relative;
    background: #ddd;
    > .panel-panel{
      -webkit-box-shadow:  -2px 0px 10px 2px rgba(223, 223, 223, 0.7);
      -moz-box-shadow:  -2px 0px 10px 2px rgba(223, 223, 223, 0.7);
      -ms-box-shadow:  -2px 0px 10px 2px rgba(223, 223, 223, 0.7);
      box-shadow:  -2px 0px 10px 2px rgba(223, 223, 223, 0.7);
    }
    .pane-pane-header #search-box{
      display: none;
    }
    .sidebar-menu{
      position: absolute;
      left: 0;
      top: 0;
      width: 30%;
      display: block;
    }
    .main-menu{
      display: none;
    }
  }

/* header */

  .page-basic{
    .header .inside,
    .pane-pane-header{
      margin: 0; 
      width: 100%;
    }
    .header img{
      margin: 7px 0;
      width: 170px;
      height: auto;
    }
    .pane-pane-header{
      background-position: 230px center; 
      height: 42px;
    }
  }

  .header .section{
    margin: 0 0 0 52px;
  }

  .mobile-search-trigger{
    margin: 0;
    width: 52px;
    height: 42px;
    margin: 9px 0;
    overflow: hidden;
    float: right;
    margin: 0;
    background: url('../images/header-bg.jpg') repeat-x top;
    cursor: pointer;
    display: block;
    span{
      background: url('../images/mobile-search.png') no-repeat top right;
      width: 52px;
      height: 42px;
      display: block;
    }
  }  

  .mobile-search-box{
    display: none;
    width: 100%;
    clear: both;
    .pane-content{
      padding: 5px 0 12px;
      background: #8e001a;
      border-top: 1px solid #fff;
      overflow: hidden;
    }
    .form-item{
      margin: 0;
    }
    #slac-search{
      line-height: 35px;
      border: 2px solid #8c8b8b;
      background: #fff;
      color: #aaa;
      padding: 0 3%;
      width: 59%;
      float:left;
    }
    form{
      width: 96%;
      margin: 0 2%;  
    }
    .form-text{
      height: 35px;
      background:none;
      border: none;
      padding: 0;
      color: #aaa;
       width: 100%;
    }
    #slac-search-button{
      float:right;
      width: 30%;
      max-width: 70px;
    }
    .form-submit{
      background: #8c8b8b;
      border: none;
      height: 39px;
      padding: 0;
      color: #fff;
      margin: 0;
      width: 100%;
    }
    #slac-search-options{
      display: block;
      overflow: hidden;
      float: left;
      clear: both;
      width: 59%;
      padding: 0 3%;
      border: 2px solid #f2f2f2;
      background: #f2f2f2;
      height: 28px;
      .form-item .form-type-radio{
        margin: 7px 0 4px 10%;
        color: #000;
        width: 45%
      }
      .form-item .form-type-radio:first-child{
        margin-left: 0;
      }
    }
    .form-type-radio input{
      margin-top: 0;
      padding: 0;
    }
    .form-type-radio label{
      float: left;
      height: 14px;
    }
  }
}

@media (max-width: 900px) {

  .frontpage-middle-col,
  .frontpage-right-col{
    width: 100%;
    clear: both;
  }
  .frontpage-right-col {
    margin-top: 30px;
    .bg-list {
      overflow: hidden;
    }
    .field-item {
      width: 30%;
      float: left;
      margin-left: 5%;
      &:first-child {
        margin-left: 0;
      }
    }
    .connect {
      width: 40%;
    }
  }

  .three-col .three-col-right .panel-pane{
    float: left;
    width: 30%;
    margin-left: 5%;
    clear: none;
  }

  .three-col .three-col-right .panel-pane:first-child{
    margin-left: 0;
  }

  .three-col .three-col-middle,
  .three-col .three-col-right{
    width: 100%;
    clear: both;
    margin-bottom: 40px;
  }

  .three-col .three-col-right{
    margin-bottom: 5px;
  }

  .general-two-col .general-left,
  .general-two-col .general-right{
    clear: both;
    margin-bottom: 40px;
  }  
}

@media (max-width: 600px) {
  
  .page-basic{
    .pane-menu-menu-footer-menu{
      padding: 0;  
      .menu{
        li{
          background: #a1a1a1;
          clear: both;
          width: 100%;
          margin: 0 0 14px 0;
          text-align: left;
        }
        a{
          background: url('../images/footer-arrow.png') no-repeat right center;
          padding: 7px 0;
          margin: 0 12px;
          margin: 0 1% 0 2%;
          width: 97%;
          display: block;
        }
      }
    }
    .panels-flexible-region-first {
      width: 100%;
      padding-bottom: 15px;
      float: none;
      margin: auto;
    }  
    
    .panels-flexible-region-last{
      clear:both;
      float:none;
      width: 100%;
      text-align:center;
      img{
        width: auto;
      }
    }
  }

  .frontpage-right-col .connect,
  .frontpage-right-col .field-item,
  .frontpage-middle-left,
  .frontpage-middle-right,
  .frontpage-right-col{
    width: 100%;
    margin: 0;
    border: none;
    margin-top: 0;
  }

  .frontpage-right-col{
    padding-bottom: 40px;
  } 

  .frontpage-middle-left{
    padding-bottom: 10px;
  }

  .frontpage-middle-col{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
  }

  .front-news{
    margin: 0;
  }

  .frontpage-right-col .bg-list{
    overflow: visible;
    float: left;
    width: 100%;
  }

  .page-basic .content > .inside, .page-basic .footer > .inside{
    margin: 0;
    width: 100%;
  }

  .front .highlited .field-label, 
  .front .highlited .pane-title{
    background: #999;
    border: none;
    padding: 0;
    margin: 0 -6% 20px;
    padding: 6px 6% 5px;
    width: 98%;
    color: #fff;
    display: block;
  }

  .front .middletop .pane-title{
    background-image: url('../images/headliner-arrow.png');
    background-position: right center; 
    background-repeat: no-repeat;
  }

  .video-block .youtube-thumbnail:after{
    bottom: 7px;
    right: 18px;
  }

  .three-col .three-col-left,
  .three-col .three-col-right{
    margin-bottom: 40px;
  }

  .three-col .three-col-right .panel-pane{
    clear: both;
    width: 100%;
    margin: 0;
  }

  /* Not front menus */

  .not-front .left-menu{
    .menu li,
    .pane-title{
      background: #e9e9e9;
      border-bottom: none;
      margin-bottom: 10px;
    } 
    .menu li a,
    .pane-title a{
      padding: 7px 25px;
      display: block;
    }
    .pane-title a{
      padding: 5px 15px;
      font-size: 16px;
      line-height: normal;
    }
    .depth-2.expanded,
    .menu li ul{
      padding: 0;
    }
    .menu li > a:hover,
    .menu li > a.active-trail {
      background: #ccc;
    }
    .menu li ul{
      margin: 10px 0 0 0;
      padding-bottom: 1px;
    }
  }

  .back-on-top{
    width: 98%;
    padding: 0 2%;
    display:block;
    background: #780017;
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    height: 28px;
    text-transform: uppercase;
    margin-bottom: 15px;
    clear: both;
    span{
      background: url('../images/footer-top-arrow.png') no-repeat right center;
      padding-right: 23px;
    }
  } 

  .page-basic > .panel-panel{
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}