// Include bootstrap variables definitions overrides.
@import 'overrides/variables';

// Include parent theme with all things Bootstrap for full override.
// Relative path to this styles.scss file.
// Example: @import "../../../../../../themes/contrib/bootstrap4/scss/style";
@import "../../bootstrap4/scss/style";

// Include custom sub theme.
@import 'custom/variables';
@import 'components/header';
@import 'components/footer';

// Include custom sub theme.
//@import 'custom/mixins/misc';
//@import 'custom/misc';
