/* Grids */
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table; }
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.container:after {
  clear: both; }

/* Front page layout */
/* line 45, ../sass/_mixins.scss */
.slider {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 49, ../sass/_mixins.scss */
.frontpage-left-col {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 53, ../sass/_mixins.scss */
.middleright-wrapper {
  float: left;
  width: 83.33333%;
  margin-left: 16.66667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* Three col layout */
/* line 59, ../sass/_mixins.scss */
.three-col .three-col-left {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 63, ../sass/_mixins.scss */
.three-col .three-col-middle-right {
  float: left;
  width: 83.33333%;
  margin-left: 16.66667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 67, ../sass/_mixins.scss */
.pane-page-content > .pane-title {
  float: left;
  width: 62.5%;
  margin-left: 16.66667%;
  margin-right: -79.16667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 74, ../sass/_mixins.scss */
.one-col-basic .pane-page-content > .pane-content,
.one-col-basic .pane-page-content > .pane-title,
.node-type-news-article .pane-page-content > .pane-content,
.node-type-news-article .pane-title {
  float: left;
  width: 91.66667%;
  margin-left: 4.16667%;
  margin-right: -95.83333%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 80, ../sass/_mixins.scss */
.two-col-basic .pane-page-content > .pane-title,
.general-two-col .pane-page-content > .pane-title,
.general-two-col .general-left {
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 83, ../sass/_mixins.scss */
.general-two-col .general-right {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 87, ../sass/_mixins.scss */
.two-col-leftsidebar .general-left {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 92, ../sass/_mixins.scss */
.two-col-leftsidebar .general-right,
.two-col-leftsidebar-layout .pane-page-content > .pane-title {
  float: left;
  width: 75%;
  margin-left: 25%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

@media (max-width: 900px) {
  /* Front page layout */
  /* line 104, ../sass/_mixins.scss */
  .slider {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 108, ../sass/_mixins.scss */
  .frontpage-left-col {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 112, ../sass/_mixins.scss */
  .middleright-wrapper {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 116, ../sass/_mixins.scss */
  .three-col .three-col-left {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 121, ../sass/_mixins.scss */
  .pane-page-content > .pane-title,
  .three-col .three-col-middle-right {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 125, ../sass/_mixins.scss */
  .general-two-col .general-left {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 129, ../sass/_mixins.scss */
  .general-two-col .general-right {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 133, ../sass/_mixins.scss */
  .two-col-leftsidebar .general-left {
    float: left;
    width: 20%;
    margin-left: 0%;
    margin-right: -20%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; }

  /* line 138, ../sass/_mixins.scss */
  .two-col-leftsidebar .general-right,
  .two-col-leftsidebar-layout .pane-page-content > .pane-title {
    float: left;
    width: 80%;
    margin-left: 20%;
    margin-right: -100%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word; } }
@media (max-width: 600px) {
  /* Front page layout */
  /* line 162, ../sass/_mixins.scss */
  .slider,
  .frontpage-left-col,
  .middleright-wrapper,
  .three-col .three-col-left,
  .three-col .three-col-middle-right,
  .pane-page-content > .pane-title,
  .general-two-col .general-left,
  .general-two-col .general-right,
  .two-col-leftsidebar .general-left,
  .two-col-leftsidebar .general-right,
  .two-col-basic .pane-page-content > .pane-title,
  .two-col-leftsidebar-layout .pane-page-content > .pane-title {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 3.5%;
    padding-right: 3.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    clear: both; } }
/* Slider */
/* line 5, ../sass/blocks.scss */
.front-slider {
  width: 100%;
  height: auto;
  padding-bottom: 15px;
  overflow: hidden; }
  /* line 10, ../sass/blocks.scss */
  .front-slider div {
    width: 100%;
    height: auto; }
  /* line 14, ../sass/blocks.scss */
  .front-slider .view-id-frontpage_slideshow {
    position: relative; }
  /* line 17, ../sass/blocks.scss */
  .front-slider .views_slideshow_slide {
    width: 100% !important; }
  /* line 20, ../sass/blocks.scss */
  .front-slider .views-field-nothing {
    height: auto;
    width: auto; }
  /* line 24, ../sass/blocks.scss */
  .front-slider .slide-text-side {
    font-size: 17px;
    color: #fff;
    padding: 20px 3%;
    line-height: 23px;
    width: 29%;
    height: 100%;
    letter-spacing: .03em; }
    /* line 32, ../sass/blocks.scss */
    .front-slider .slide-text-side a {
      font-size: 30px;
      color: #fff;
      text-decoration: none;
      line-height: normal;
      padding-bottom: 20px;
      display: block;
      letter-spacing: .04em; }
  /* line 42, ../sass/blocks.scss */
  .front-slider .views-field-field-image {
    float: left;
    width: 65%;
    height: 100%;
    overflow: hidden; }
    /* line 47, ../sass/blocks.scss */
    .front-slider .views-field-field-image div {
      width: auto; }
    /* line 50, ../sass/blocks.scss */
    .front-slider .views-field-field-image img {
      display: block;
      width: 100%;
      height: auto;
      border: none; }
    /* line 56, ../sass/blocks.scss */
    .front-slider .views-field-field-image .image-field-caption {
      display: none; }
  /* line 60, ../sass/blocks.scss */
  .front-slider .views-slideshow-controls-text {
    width: auto; }
  /* line 63, ../sass/blocks.scss */
  .front-slider .views-slideshow-controls-text span {
    position: absolute;
    top: 40%;
    width: 30px;
    height: 70px;
    display: block;
    overflow: hidden;
    background: url("../images/slider-arrow-bg.png") repeat;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    z-index: 99; }
    /* line 74, ../sass/blocks.scss */
    .front-slider .views-slideshow-controls-text span.views-slideshow-controls-text-previous {
      left: 8px; }
      /* line 76, ../sass/blocks.scss */
      .front-slider .views-slideshow-controls-text span.views-slideshow-controls-text-previous a {
        background: url("../images/slider-back.png") no-repeat center; }
    /* line 80, ../sass/blocks.scss */
    .front-slider .views-slideshow-controls-text span.views-slideshow-controls-text-next {
      right: 8px; }
      /* line 82, ../sass/blocks.scss */
      .front-slider .views-slideshow-controls-text span.views-slideshow-controls-text-next a {
        background: url("../images/slider-next.png") no-repeat center; }
    /* line 86, ../sass/blocks.scss */
    .front-slider .views-slideshow-controls-text span.views-slideshow-controls-text-pause {
      display: none; }
    /* line 90, ../sass/blocks.scss */
    .front-slider .views-slideshow-controls-text span a {
      display: block;
      height: 100%;
      text-indent: -9000px;
      text-transform: capitalize; }
  /* line 97, ../sass/blocks.scss */
  .front-slider .views-slideshow-pager-fields {
    position: absolute;
    left: 45%;
    bottom: 0;
    width: auto;
    padding: 5px;
    margin: 0;
    background: #D5D8DA;
    z-index: 99; }
  /* line 107, ../sass/blocks.scss */
  .front-slider .views-slideshow-pager-field-item {
    float: left;
    width: 9px;
    height: 9px;
    overflow: hidden;
    text-indent: -9000px;
    text-transform: capitalize;
    background: #b8b9bb;
    border: 1px solid #666666;
    margin: 1px 7px 0; }
    /* line 117, ../sass/blocks.scss */
    .front-slider .views-slideshow-pager-field-item.active {
      background: white; }

@media (max-width: 1023px) {
  /* line 125, ../sass/blocks.scss */
  .front-slider .views-slideshow-controls-bottom {
    display: none; } }
@media (max-width: 768px) {
  /* line 134, ../sass/blocks.scss */
  .front-slider .views-slideshow-controls-top,
  .front-slider .views-slideshow-controls-bottom {
    display: none; } }
@media (max-width: 600px) {
  /* line 141, ../sass/blocks.scss */
  .slider {
    margin: 1.5%; }

  /* line 144, ../sass/blocks.scss */
  .front-slider {
    width: 97%;
    padding: 1.5%;
    height: 97%;
    margin: 0 0 15px 0;
    background-color: #fff; }
    /* line 150, ../sass/blocks.scss */
    .front-slider div {
      height: 100%; }
    /* line 153, ../sass/blocks.scss */
    .front-slider .views_slideshow_slide {
      height: 100% !important; }
    /* line 156, ../sass/blocks.scss */
    .front-slider .views-field-nothing {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 82px; }
    /* line 164, ../sass/blocks.scss */
    .front-slider .slide-text-side {
      width: 100%;
      height: 70px !important;
      padding: 5px 0;
      border-bottom: 2px solid #ccc;
      background-color: #fff !important;
      color: #881728;
      float: none !important; }
    /* line 173, ../sass/blocks.scss */
    .front-slider .views-field-field-image {
      width: 100%;
      height: auto;
      padding-bottom: 82px;
      float: none; }
      /* line 178, ../sass/blocks.scss */
      .front-slider .views-field-field-image div {
        width: 100%; }
    /* line 183, ../sass/blocks.scss */
    .front-slider .views-slideshow-controls-top,
    .front-slider .views-slideshow-controls-bottom {
      display: none; } }
/* Main menu */
/* line 193, ../sass/blocks.scss */
.left-menu.highlited .pane-title {
  margin: 0; }
  /* line 195, ../sass/blocks.scss */
  .left-menu.highlited .pane-title a {
    text-transform: none;
    font-size: 14px;
    padding-left: 8px;
    color: #881728;
    text-transform: uppercase; }
/* line 203, ../sass/blocks.scss */
.left-menu .menu li {
  border-bottom: 1px solid #d4d4d4;
  font-size: 12px;
  line-height: normal; }
  /* line 207, ../sass/blocks.scss */
  .left-menu .menu li ul {
    padding-bottom: 10px; }
  /* line 210, ../sass/blocks.scss */
  .left-menu .menu li a {
    display: block;
    padding: 11px 8px;
    margin: 0;
    line-height: normal;
    text-decoration: none; }
/* line 222, ../sass/blocks.scss */
.left-menu .depth-2.active-trail, .left-menu .depth-2.active,
.left-menu .depth-2 a:hover {
  background-color: #f2f2f2; }
/* line 229, ../sass/blocks.scss */
.left-menu li.depth-3 a:hover,
.left-menu li.depth-3.active-trail a,
.left-menu .depth-2.expanded.active-trail > a {
  background: #e7e7e7; }
/* line 233, ../sass/blocks.scss */
.left-menu li.depth-3 {
  border: none; }
  /* line 235, ../sass/blocks.scss */
  .left-menu li.depth-3 a {
    line-height: normal;
    padding: 4px 10px;
    margin-left: 10px; }
  /* line 241, ../sass/blocks.scss */
  .left-menu li.depth-3 a:hover, .left-menu li.depth-3.active-trail a {
    background: #e7e7e7; }
/* line 246, ../sass/blocks.scss */
.left-menu .depth-2.expanded {
  padding-top: 8px; }
  /* line 248, ../sass/blocks.scss */
  .left-menu .depth-2.expanded > a {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 4px; }
    /* line 252, ../sass/blocks.scss */
    .left-menu .depth-2.expanded > a:hover {
      background: #e7e7e7; }

/* */
/* line 261, ../sass/blocks.scss */
.frontpage-right-col .highlited .pane-title {
  margin-bottom: 6px; }

/* line 265, ../sass/blocks.scss */
.frontpage-right-col .connect .pane-title {
  margin-bottom: 0; }

/* line 269, ../sass/blocks.scss */
.highlited {
  margin-bottom: 16px; }
  /* line 272, ../sass/blocks.scss */
  .highlited .field-label,
  .highlited .pane-title {
    border-bottom: 2px solid #831425;
    font-size: 12px;
    color: #7f6332;
    padding-bottom: 2px;
    margin-bottom: 12px;
    font-weight: normal;
    line-height: normal;
    text-transform: uppercase;
    font-style: normal; }
    /* line 282, ../sass/blocks.scss */
    .highlited .field-label a,
    .highlited .pane-title a {
      color: #7f6332;
      text-decoration: none; }
  /* line 287, ../sass/blocks.scss */
  .highlited.news-list .pane-title {
    margin-bottom: 0; }
  /* line 290, ../sass/blocks.scss */
  .three-col-right .highlited {
    clear: both;
    overflow: hidden; }

/* line 296, ../sass/blocks.scss */
.frontpage-middle-right .highlited .pane-title {
  text-transform: none; }

/* line 300, ../sass/blocks.scss */
.page-news-news-center .pane-page-content > .pane-title {
  margin-bottom: 35px;
  top: 10px; }

/* line 305, ../sass/blocks.scss */
.links {
  margin: 10px 0;
  overflow: hidden; }

/* line 310, ../sass/blocks.scss */
.links li {
  float: left;
  text-transform: capitalize;
  margin-right: 15px; }

/* line 316, ../sass/blocks.scss */
.comments .title {
  font-weight: bold; }

/* line 320, ../sass/blocks.scss */
.section-about .left-menu .pane-title a {
  text-transform: none; }

/* line 325, ../sass/blocks.scss */
.video-block .field-item {
  border-top: 1px dashed #c7c8c8;
  padding: 18px 0 25px 0;
  font-size: 12px;
  overflow: hidden; }
  /* line 330, ../sass/blocks.scss */
  .video-block .field-item:first-child {
    border-top: none;
    padding-top: 9px; }
  /* line 334, ../sass/blocks.scss */
  .video-block .field-item img {
    border-top: 0;
    border-left: 0;
    width: 97%;
    height: auto;
    float: left;
    -webkit-box-shadow: 3px 3px 2px 0px #888888;
    -moz-box-shadow: 3px 3px 2px 0px #888888;
    -ms-box-shadow: 3px 3px 2px 0px #888888;
    -o-box-shadow: 3px 3px 2px 0px #888888;
    box-shadow: 3px 3px 2px 0px #888888; }
  /* line 342, ../sass/blocks.scss */
  .video-block .field-item .youtube-video-popup a {
    font-size: 11px;
    color: #881728;
    text-decoration: none;
    line-height: normal;
    float: left;
    width: 100%; }
/* line 348, ../sass/blocks.scss */
.video-block a.youtube-title {
  padding-top: 12px; }
/* line 351, ../sass/blocks.scss */
.video-block .youtube-thumbnail {
  position: relative; }
  /* line 353, ../sass/blocks.scss */
  .video-block .youtube-thumbnail:after {
    content: url("../images/video-icon.png");
    float: right;
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 7px;
    right: 9px; }

/* line 365, ../sass/blocks.scss */
.events {
  font-size: 11px;
  line-height: normal;
  color: #555; }
  /* line 369, ../sass/blocks.scss */
  .events a {
    font-size: 11px; }
  /* line 372, ../sass/blocks.scss */
  .events img {
    width: 100%;
    height: auto; }

/* line 379, ../sass/blocks.scss */
.bg-list .field-item,
.bg-list .social_links {
  padding: 10px 0;
  margin-bottom: 0;
  background: white url("../images/list-bg.png") repeat-x bottom;
  width: 100%;
  overflow: hidden; }

/* line 388, ../sass/blocks.scss */
.bg-list .field-item, .bg-list .social_links {
  padding: 10px 0;
  margin-bottom: 0;
  background: white url("../images/list-bg.png") repeat-x bottom;
  width: 100%;
  overflow: hidden; }
/* line 395, ../sass/blocks.scss */
.bg-list .field-item a {
  font-size: 12px;
  color: #881728;
  text-decoration: none;
  line-height: normal;
  display: block;
  width: 90%;
  margin: 0 5%; }

/* line 405, ../sass/blocks.scss */
.related-links .field-label,
.related-links .pane-title {
  border-bottom-color: #6d6c6c;
  color: #807f7f;
  font-size: 11px;
  text-transform: uppercase;
  line-height: normal; }
/* line 412, ../sass/blocks.scss */
.related-links .pane-title {
  line-height: 16px; }
/* line 417, ../sass/blocks.scss */
.related-links .field-item .field-item,
.related-links .menu li,
.related-links ul.news-archive-links li {
  font-size: 11px;
  line-height: 18px;
  margin: 0 3%;
  width: 94%;
  width: 97%;
  padding-left: 3%; }
/* line 427, ../sass/blocks.scss */
.related-links .field .field .field-item a,
.related-links .menu li a,
.related-links ul.news-archive-links a {
  padding-left: 5%;
  max-width: 95%;
  float: left;
  background: url("../images/red-arrow.png") no-repeat 0 5px;
  font-size: 12px;
  color: #881728;
  text-decoration: none;
  line-height: normal;
  display: block;
  font-size: 11px;
  line-height: 18px;
  padding-bottom: 1px;
  clear: both; }
/* line 441, ../sass/blocks.scss */
.related-links .field .field .field-item a:hover,
.related-links .menu li a:hover,
.related-links ul.news-archive-links a:hover {
  border-bottom: 1px dotted #996633;
  padding-bottom: 0; }

/* line 447, ../sass/blocks.scss */
.front-news {
  font-size: 12px;
  color: #828282;
  font-style: italic; }
  /* line 451, ../sass/blocks.scss */
  .front-news .views-row {
    padding-bottom: 14px; }
    /* line 453, ../sass/blocks.scss */
    .front-news .views-row div {
      display: inline; }
  /* line 457, ../sass/blocks.scss */
  .front-news a {
    font-style: normal; }

/* line 462, ../sass/blocks.scss */
.introduction-block {
  line-height: 20px; }

/* line 466, ../sass/blocks.scss */
.pane-node-field-image {
  margin-bottom: 20px;
  width: 98%;
  padding: 1%;
  background: #e0e0e1; }
  /* line 471, ../sass/blocks.scss */
  .pane-node-field-image img {
    width: 100%;
    height: auto; }

/* Content styles */
/* line 481, ../sass/blocks.scss */
.html .google-maps {
  margin-top: 15px; }
  /* line 483, ../sass/blocks.scss */
  .html .google-maps table td {
    border: none; }

/* line 488, ../sass/blocks.scss */
.date-paragraph {
  color: #666;
  margin: 10px 0 0;
  padding: 0;
  line-height: 1.6em;
  font-size: 10px; }

/* line 497, ../sass/blocks.scss */
div.pane-node-body p {
  line-height: 20px;
  font-size: 13px;
  color: #474748;
  margin-bottom: 10px; }
/* line 503, ../sass/blocks.scss */
div.pane-node-body ul {
  padding: 0 0 13px 25px; }
/* line 506, ../sass/blocks.scss */
div.pane-node-body li {
  color: #696969;
  font-size: 13px;
  list-style-type: disc;
  list-style-position: inside;
  padding: 2px 0;
  line-height: 18px; }
  /* line 513, ../sass/blocks.scss */
  div.pane-node-body li li a {
    color: #79182A; }
  /* line 516, ../sass/blocks.scss */
  div.pane-node-body li a {
    color: #696969;
    font-size: 13px; }
/* line 521, ../sass/blocks.scss */
div.pane-node-body a {
  font-size: 13px; }
/* line 524, ../sass/blocks.scss */
div.pane-node-body .content-title {
  line-height: normal;
  color: #666;
  font-size: 15px;
  font-weight: bold;
  margin: 20px 0 10px; }
/* line 532, ../sass/blocks.scss */
div.pane-node-body .page-link {
  font-size: 12px;
  margin-top: 15px;
  float: left;
  padding-bottom: 1px; }
  /* line 537, ../sass/blocks.scss */
  div.pane-node-body .page-link:hover {
    padding-bottom: 0;
    border-bottom: 1px dotted #996633; }
/* line 542, ../sass/blocks.scss */
div.pane-node-body img {
  max-width: 100%; }

/* line 548, ../sass/blocks.scss */
.three-col-middle .field-name-body .field-item > p:first-child,
.mapclass {
  margin-top: -6px; }

/* line 553, ../sass/blocks.scss */
.content-block {
  padding-top: 26px; }
  /* line 555, ../sass/blocks.scss */
  .content-block .content-block-heading {
    border-bottom: 2px solid #831425;
    font-size: 14px;
    padding: 6px 0 2px 7px;
    letter-spacing: 1px;
    color: #7F6332; }
  /* line 562, ../sass/blocks.scss */
  .content-block .content-block-body {
    margin-top: 20px; }

/* line 567, ../sass/blocks.scss */
.shaded-background {
  margin-top: 0; }
  /* line 569, ../sass/blocks.scss */
  .shaded-background .content-block-body {
    background: #f6f6f6;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ebebeb));
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: -o-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: -ms-linear-gradient(top, #f6f6f6 0%, #ebebeb 100%);
    background: linear-gradient(to bottom, #f6f6f6 0%, #ebebeb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ebebeb',GradientType=0 );
    width: 94%;
    padding: 20px 3%;
    font-size: 13px;
    overflow: hidden;
    margin-top: 0; }
  /* line 585, ../sass/blocks.scss */
  .shaded-background ul {
    margin: 0;
    padding: 0; }
  /* line 589, ../sass/blocks.scss */
  .shaded-background li {
    width: 100%;
    margin: 0;
    list-style-type: disc;
    list-style-position: outside;
    color: #79182A;
    line-height: 22px;
    width: 95%;
    margin-left: 5%; }
  /* line 599, ../sass/blocks.scss */
  .shaded-background a img {
    opacity: 1;
    filter: alpha(opacity=100); }
    /* line 602, ../sass/blocks.scss */
    .shaded-background a img:hover {
      opacity: .9;
      filter: alpha(opacity=90); }

/* line 609, ../sass/blocks.scss */
.page-body-block .shaded-background:first-child {
  padding-top: 0; }

/* line 613, ../sass/blocks.scss */
.shaded-background .content-block-body .title {
  color: #474747;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px; }

/* line 620, ../sass/blocks.scss */
.no-shaded-background .content-block-body {
  margin-left: 20px; }

/* line 624, ../sass/blocks.scss */
.images .content-block-body {
  padding: 20px 1% 0;
  width: 98%; }

/* line 629, ../sass/blocks.scss */
.contentInnerBoxStyle4 {
  float: left;
  width: 23%;
  margin: 0 1% 20px; }
  /* line 633, ../sass/blocks.scss */
  .contentInnerBoxStyle4 div {
    margin-bottom: 3px;
    color: #333;
    font-size: 12px;
    line-height: normal;
    font-weight: bold; }
    /* line 639, ../sass/blocks.scss */
    .contentInnerBoxStyle4 div a {
      font-weight: normal; }
      /* line 641, ../sass/blocks.scss */
      .contentInnerBoxStyle4 div a:hover {
        border-bottom: 1px dotted #996633; }
    /* line 645, ../sass/blocks.scss */
    .contentInnerBoxStyle4 div .imgLink:hover {
      border: none; }
  /* line 649, ../sass/blocks.scss */
  .contentInnerBoxStyle4 img {
    width: 100%;
    height: auto; }

/* line 656, ../sass/blocks.scss */
.one-image .content-block-body {
  width: 97%;
  padding: 10px 1.5%; }
/* line 660, ../sass/blocks.scss */
.one-image .content-block-body-inner {
  float: left;
  width: 70%;
  margin-right: 5%; }
/* line 665, ../sass/blocks.scss */
.one-image .content-graphic-block {
  float: right;
  width: 25%; }
/* line 669, ../sass/blocks.scss */
.one-image .content-graphic-block img {
  width: 100%;
  height: auto;
  display: block; }

/* line 676, ../sass/blocks.scss */
.clear {
  width: 100%;
  height: 1px;
  clear: both; }

/* line 682, ../sass/blocks.scss */
#orgwrapper {
  clear: both;
  overflow: hidden; }
  /* line 685, ../sass/blocks.scss */
  #orgwrapper > div {
    float: left;
    width: 33%;
    text-align: center; }

/* line 692, ../sass/blocks.scss */
.full-width-img {
  clear: both;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 20px 0; }

/* */
/* line 704, ../sass/blocks.scss */
.middletop .highlited {
  margin-bottom: 17px; }
/* line 708, ../sass/blocks.scss */
.middletop .pane-content {
  line-height: 18px;
  width: 98.5%;
  margin-left: 1.5%;
  border-bottom: 1px solid #bbbdbe;
  overflow: hidden;
  padding-bottom: 22px; }
/* line 717, ../sass/blocks.scss */
.middletop .views-field-nothing {
  float: left;
  width: 55%; }
/* line 722, ../sass/blocks.scss */
.middletop .views-field-title a {
  font-size: 16px;
  font-weight: 100;
  line-height: normal;
  padding-bottom: 10px; }
/* line 729, ../sass/blocks.scss */
.middletop .views-field-field-image {
  float: right;
  width: 42%;
  margin-left: 3%; }
  /* line 733, ../sass/blocks.scss */
  .middletop .views-field-field-image img {
    width: 100%;
    height: auto; }
/* line 738, ../sass/blocks.scss */
.middletop .views-field-body {
  font-size: 12px;
  margin-top: 5px; }

/* line 744, ../sass/blocks.scss */
.frontpage-middle-left .views-field-body {
  font-size: 11px;
  margin-top: 5px; }

/* line 750, ../sass/blocks.scss */
.middleleft .views-row {
  width: 100%;
  border-bottom: 1px solid #bbbdbe;
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  overflow: hidden; }
/* line 760, ../sass/blocks.scss */
.middleleft .views-row-last {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0; }
/* line 766, ../sass/blocks.scss */
.middleleft .views-field-title a {
  font-size: 13px;
  padding-bottom: 5px; }
/* line 771, ../sass/blocks.scss */
.middleleft .views-field-nothing {
  float: left;
  width: 55%; }
/* line 776, ../sass/blocks.scss */
.middleleft .views-field-field-image {
  float: right;
  width: 42%;
  margin-left: 3%; }
  /* line 780, ../sass/blocks.scss */
  .middleleft .views-field-field-image img {
    width: 100%;
    height: auto; }

/* line 787, ../sass/blocks.scss */
.pane-page-content > .pane-title {
  margin-top: 18px; }

/* News list */
/* line 794, ../sass/blocks.scss */
.news-list {
  margin: 35px 0 0 0; }
  /* line 796, ../sass/blocks.scss */
  .news-list:first-child {
    margin-top: 0; }
  /* line 799, ../sass/blocks.scss */
  .news-list .views-row {
    padding: 15px 12px 18px 36px;
    width: auto;
    background: url("../images/dotted-border.png") repeat-x bottom;
    overflow: hidden; }
  /* line 806, ../sass/blocks.scss */
  .news-list .views-row-last {
    background: none; }
  /* line 810, ../sass/blocks.scss */
  .news-list .views-field-nothing {
    float: left;
    width: 76%;
    color: #373738;
    font-size: 12px;
    line-height: normal; }
  /* line 818, ../sass/blocks.scss */
  .news-list .views-field-field-image {
    float: right;
    width: 20%;
    margin-left: 4%; }
    /* line 822, ../sass/blocks.scss */
    .news-list .views-field-field-image img {
      width: 100%;
      height: auto; }
    /* line 826, ../sass/blocks.scss */
    .news-list .views-field-field-image .image-field-caption {
      display: none; }
  /* line 829, ../sass/blocks.scss */
  .news-list .views-field-created {
    color: #474747;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px; }
  /* line 836, ../sass/blocks.scss */
  .news-list .views-field-title a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 4px; }
  /* line 843, ../sass/blocks.scss */
  .news-list .views-field-body {
    line-height: 16px;
    color: #474747; }

/* line 852, ../sass/blocks.scss */
.section-news .view-news-center .views-field-created {
  font-size: 11px;
  color: #2B2B2B;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: -2px; }
/* line 861, ../sass/blocks.scss */
.section-news .view-news-center .views-field-title {
  line-height: 20px;
  margin: 4px 0 18px; }

/* line 867, ../sass/blocks.scss */
.node-type-news-article .content {
  padding-top: 30px; }
  /* line 869, ../sass/blocks.scss */
  .node-type-news-article .content .general-left > div {
    padding-right: 10px;
    border-right: 1px solid #EFEFEF; }
  /* line 873, ../sass/blocks.scss */
  .node-type-news-article .content .general-right > div {
    padding-left: 10px; }
  /* line 876, ../sass/blocks.scss */
  .node-type-news-article .content .pane-back-links {
    padding: 10px 0 20px;
    font-size: 0.7em;
    color: #881728; }
    /* line 880, ../sass/blocks.scss */
    .node-type-news-article .content .pane-back-links a {
      padding-left: 2px;
      font-weight: bold; }
  /* line 885, ../sass/blocks.scss */
  .node-type-news-article .content .pane-node-title {
    margin-bottom: 30px; }
    /* line 887, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-title h2 {
      line-height: 25px;
      font-size: 1.3em;
      font-weight: bold;
      color: #333; }
  /* line 894, ../sass/blocks.scss */
  .node-type-news-article .content .views-field-field-page-author {
    font-style: italic; }
  /* line 898, ../sass/blocks.scss */
  .node-type-news-article .content .views-field-field-page-author,
  .node-type-news-article .content .pane-node-created {
    margin-top: 10px;
    font-size: 0.7em;
    color: #666; }
  /* line 903, ../sass/blocks.scss */
  .node-type-news-article .content .pane-node-body {
    margin-top: 30px; }
    /* line 905, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-body p {
      line-height: 18px; }
  /* line 909, ../sass/blocks.scss */
  .node-type-news-article .content .pane-node-field-image {
    padding-top: 20px;
    background: transparent; }
    /* line 912, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-field-image .field-item {
      padding-top: 20px;
      margin-bottom: 20px;
      border-top: 1px dashed #B0B0B0; }
    /* line 917, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-field-image img {
      display: block;
      margin-bottom: 20px; }
    /* line 921, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-field-image .image-field-caption {
      margin: 20px 0 10px;
      line-height: 1.2em;
      font-size: 0.7em;
      font-style: italic;
      clear: both;
      color: #666; }

@media (max-width: 900px) {
  /* line 933, ../sass/blocks.scss */
  .node-type-news-article .content .general-left > div {
    padding-right: 0;
    border: none; }
  /* line 937, ../sass/blocks.scss */
  .node-type-news-article .content .general-right {
    width: 100%; }
  /* line 941, ../sass/blocks.scss */
  .node-type-news-article .content .general-right > div {
    padding-left: 0; }
  /* line 944, ../sass/blocks.scss */
  .node-type-news-article .content .pane-node-field-image .field-item {
    width: 46%;
    margin-right: 2%;
    float: left; }
    /* line 948, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-field-image .field-item.even {
      clear: both; }
    /* line 951, ../sass/blocks.scss */
    .node-type-news-article .content .pane-node-field-image .field-item.odd {
      margin-left: 2%; } }
@media (max-width: 600px) {
  /* line 961, ../sass/blocks.scss */
  .shaded-background .contentInnerBoxStyle4 {
    width: 48%; }
  /* line 964, ../sass/blocks.scss */
  .shaded-background .contentInnerBoxStyle4:nth-child(2n+1) {
    clear: both; } }
