/**
 * @file
 * Comment Styling
 */
/* line 61, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image img {
  width: 100%;
  height: auto;
}

@media (min-width: 901px) {
  /* line 66, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.large, .paragraph-item.paragraph-type--simple.large, .paragraph-item.paragraph-type--video.large {
    margin: 0.35em 0 1em -16.5%;
  }
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.large:before, .paragraph-item.paragraph-type--image.large:after, .paragraph-item.paragraph-type--simple.large:before, .paragraph-item.paragraph-type--simple.large:after, .paragraph-item.paragraph-type--video.large:before, .paragraph-item.paragraph-type--video.large:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.large:after, .paragraph-item.paragraph-type--simple.large:after, .paragraph-item.paragraph-type--video.large:after {
    clear: both;
  }
}

/* line 73, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
  margin: 0 -8% 0 -25%;
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 73, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0 -8.25% 0 -5.5%;
  }
}
@media (max-width: 600px) {
  /* line 73, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0;
  }
}

/* line 83, ../sass/_custom.scss */
.paragraph-item.paragraph-type--simple p img {
  max-width: 100% !important;
  height: auto;
}

/* line 88, ../sass/_custom.scss */
.paragraph-type--simple {
  font-size: 18px !important;
  line-height: 1.6 !important;
  color: #474748;
  font-family: "Source Sans Pro" !important;
}
/* line 94, ../sass/_custom.scss */
.paragraph-type--simple a {
  font-size: 18px !important;
}

/* line 99, ../sass/_custom.scss */
.hero-image img {
  width: 100%;
  height: auto;
}

/* line 105, ../sass/_custom.scss */
.media-vimeo-video, .media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 116, ../sass/_custom.scss */
.media-vimeo-video iframe,
.media-vimeo-video object,
.media-vimeo-video embed,
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  /* line 124, ../sass/_custom.scss */
  ul.share-buttons {
    margin-top: 30px;
  }
  /* line 128, ../sass/_custom.scss */
  ul.share-buttons li {
    display: inline !important;
  }
}

/* line 135, ../sass/_custom.scss */
.node-type-news-article .field-name-field-image.field-type-image .field-items {
  padding: 0;
}
/* line 139, ../sass/_custom.scss */
.node-type-news-article .field-name-field-image.field-type-image .field-item {
  float: left;
  text-align: center;
  list-style: none;
  padding: 8px;
}
@media (min-width: 769px) {
  /* line 134, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image {
    /* one item */
    /* two items */
    /* three items */
    /* four items */
    /* five items */
  }
  /* line 147, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(1) {
    width: 98%;
  }
  /* line 153, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(2),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(2) ~ .field-item {
    width: 47.5%;
  }
  /* line 159, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(3),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(3) ~ .field-item {
    width: 31%;
  }
  /* line 165, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(4),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(4) ~ .field-item {
    width: 22.5%;
  }
  /* line 171, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(5),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(5) ~ .field-item {
    width: 15%;
  }
}

/* line 178, ../sass/_custom.scss */
ul.share-buttons img {
  height: 30px !important;
  width: 30px !important;
  background: #4D4F53;
  padding: 5px;
  border-radius: 8px;
}

/* line 186, ../sass/_custom.scss */
ul.share-buttons .facebook img:hover {
  background: #3b5998;
}

/* line 189, ../sass/_custom.scss */
ul.share-buttons .twitter img:hover {
  background: #00aced;
}

/* line 192, ../sass/_custom.scss */
ul.share-buttons .linkedin img:hover {
  background: #0077B5;
}

/* line 195, ../sass/_custom.scss */
ul.share-buttons .email img:hover {
  background: #8c1515;
}

/* line 9, ../sass/comments.scss */
.comments {
  /* Wrapper for the list of comments and its title */
  margin: 1.5em 0;
}
/* line 12, ../sass/comments.scss */
.comments h2.title {
  /* Heading for the list of comments */
}
/* line 15, ../sass/comments.scss */
.comments h2.comment-form {
  /* Heading for the comment form */
}

/* line 19, ../sass/comments.scss */
.comment {
  /* Wrapper for a single comment */
}
/* line 21, ../sass/comments.scss */
.comment.comment-preview {
  /* Preview of the comment before submitting new or updated comment */
  background-color: #ffffea;
  /* Drupal core will use a #ffffea background. See #1110842 */
}
/* line 25, ../sass/comments.scss */
.comment.new {
  /* A new comment since the user last viewed the page. */
}
/* line 28, ../sass/comments.scss */
.comment.first {
  /* The first comment in the list of comments */
}
/* line 31, ../sass/comments.scss */
.comment.last {
  /* The last comment in the list of comments */
}
/* line 34, ../sass/comments.scss */
.comment.odd {
  /* An odd-numbered comment in the list of comments */
}
/* line 37, ../sass/comments.scss */
.comment.even {
  /* An even-numbered comment in the list of comments */
}
/* line 40, ../sass/comments.scss */
.comment.comment-by-anonymous {
  /* A comment created by an anonymous user */
}
/* line 43, ../sass/comments.scss */
.comment.comment-by-node-author {
  /* A comment created by the node's author */
}
/* line 46, ../sass/comments.scss */
.comment.comment-by-viewer {
  /* A comment created by the current user */
}
/* line 49, ../sass/comments.scss */
.comment h3.comment-title {
  /* Comment title */
}
/* line 52, ../sass/comments.scss */
.comment .new {
  /* "New" marker for comments that are new for the current user */
  color: #c00;
}
/* line 56, ../sass/comments.scss */
.comment .user-picture {
  /* The picture of the comment author */
}
/* line 59, ../sass/comments.scss */
.comment .submitted {
  /* The "posted by" information */
}
/* line 62, ../sass/comments.scss */
.comment .permalink {
  /* Comment's permalink wrapper */
  text-transform: uppercase;
  font-size: 75%;
}
/* line 67, ../sass/comments.scss */
.comment .user-signature {
  /* The user's signature */
}
/* line 70, ../sass/comments.scss */
.comment ul.links {
  /* Comment links. See also the ul.links declaration in the pages.css. */
}

/* line 74, ../sass/comments.scss */
.indented {
  /* Nested comments are indented */
  margin-left: 30px;
  /* Drupal core uses a 25px left margin */
}

/* line 78, ../sass/comments.scss */
.comment-unpublished {
  /* Unpublished comments */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 81, ../sass/comments.scss */
.comment-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
