/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */
/* line 61, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image img {
  width: 100%;
  height: auto;
}

@media (min-width: 901px) {
  /* line 66, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.large, .paragraph-item.paragraph-type--simple.large, .paragraph-item.paragraph-type--video.large {
    margin: 0.35em 0 1em -16.5%;
  }
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.large:before, .paragraph-item.paragraph-type--image.large:after, .paragraph-item.paragraph-type--simple.large:before, .paragraph-item.paragraph-type--simple.large:after, .paragraph-item.paragraph-type--video.large:before, .paragraph-item.paragraph-type--video.large:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.large:after, .paragraph-item.paragraph-type--simple.large:after, .paragraph-item.paragraph-type--video.large:after {
    clear: both;
  }
}

/* line 73, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
  margin: 0 -8% 0 -25%;
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 73, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0 -8.25% 0 -5.5%;
  }
}
@media (max-width: 600px) {
  /* line 73, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0;
  }
}

/* line 83, ../sass/_custom.scss */
.paragraph-type--simple {
  font-size: 18px !important;
  line-height: 1.6 !important;
  color: #474748;
  font-family: "Source Sans Pro" !important;
}

/* line 90, ../sass/_custom.scss */
.hero-image img {
  width: 100%;
  height: auto;
}

/* line 96, ../sass/_custom.scss */
.media-vimeo-video, .media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 107, ../sass/_custom.scss */
.media-vimeo-video iframe,
.media-vimeo-video object,
.media-vimeo-video embed,
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  /* line 115, ../sass/_custom.scss */
  ul.share-buttons {
    margin-top: 30px;
  }
  /* line 119, ../sass/_custom.scss */
  ul.share-buttons li {
    display: inline !important;
  }
}

/* line 126, ../sass/_custom.scss */
.node-type-news-article .field-name-field-image.field-type-image .field-items {
  padding: 0;
}
/* line 130, ../sass/_custom.scss */
.node-type-news-article .field-name-field-image.field-type-image .field-item {
  float: left;
  text-align: center;
  list-style: none;
  padding: 8px;
}
@media (min-width: 769px) {
  /* line 125, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image {
    /* one item */
    /* two items */
    /* three items */
    /* four items */
    /* five items */
  }
  /* line 138, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(1) {
    width: 98%;
  }
  /* line 144, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(2),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(2) ~ .field-item {
    width: 47.5%;
  }
  /* line 150, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(3),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(3) ~ .field-item {
    width: 31%;
  }
  /* line 156, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(4),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(4) ~ .field-item {
    width: 22.5%;
  }
  /* line 162, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(5),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(5) ~ .field-item {
    width: 15%;
  }
}

/* line 168, ../sass/_custom.scss */
ul.share-buttons img {
  height: 30px !important;
  width: 30px !important;
  background: #4D4F53;
  padding: 5px;
  border-radius: 8px;
}

/* line 176, ../sass/_custom.scss */
ul.share-buttons .facebook img:hover {
  background: #3b5998;
}

/* line 179, ../sass/_custom.scss */
ul.share-buttons .twitter img:hover {
  background: #00aced;
}

/* line 182, ../sass/_custom.scss */
ul.share-buttons .linkedin img:hover {
  background: #0077B5;
}

/* line 185, ../sass/_custom.scss */
ul.share-buttons .email img:hover {
  background: #8c1515;
}

/*
 * Field wrappers when the Fences module is enabled.
 */
/* line 21, ../sass/fields.scss */
.field-label {
  /* The optional label for a field. */
}

/* line 24, ../sass/fields.scss */
.field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}

/*
 * If you don't use the Fences module, that's fine. Really. I think. Just use
 * these selectors instead:
 */
/* line 33, ../sass/fields.scss */
.field {
  /* Wrapper for any field. */
}

/*
 * Field types (Core)
 */
/*
 * Field types (Contrib)
 */
/* line 83, ../sass/fields.scss */
.field-type-datetime {
  /* Always use "datetime" when creating new CCK date fields. "date" and "datestamp" are legacy types. */
}

/*
 * Named fields
 */
/* line 105, ../sass/fields.scss */
.field-name-field-FIELDNAME {
  /* Underscores in field name are replaced with dashes. */
}
