/**
 * @file
 * Node Styling
 *
 * Style anything that isn't in the $content variable.
 */
/* line 61, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image img {
  width: 100%;
  height: auto;
}

@media (min-width: 901px) {
  /* line 66, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0.35em 0 1em -16.5%;
  }
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.full:before, .paragraph-item.paragraph-type--image.full:after, .paragraph-item.paragraph-type--simple.full:before, .paragraph-item.paragraph-type--simple.full:after, .paragraph-item.paragraph-type--video.full:before, .paragraph-item.paragraph-type--video.full:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.full:after, .paragraph-item.paragraph-type--simple.full:after, .paragraph-item.paragraph-type--video.full:after {
    clear: both;
  }
}

/* line 73, ../sass/_custom.scss */
.paragraph-type--simple {
  font-size: 18px !important;
  line-height: 1.6 !important;
  color: #474748;
  font-family: "Source Sans Pro" !important;
}

/* line 80, ../sass/_custom.scss */
.hero-image img {
  width: 100%;
  height: auto;
}

/* line 86, ../sass/_custom.scss */
.media-vimeo-video, .media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 97, ../sass/_custom.scss */
.media-vimeo-video iframe,
.media-vimeo-video object,
.media-vimeo-video embed,
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  /* line 105, ../sass/_custom.scss */
  ul.share-buttons {
    margin-top: 30px;
  }
  /* line 109, ../sass/_custom.scss */
  ul.share-buttons li {
    display: inline !important;
  }
  /* line 113, ../sass/_custom.scss */
  ul.share-buttons img {
    width: 30px !important;
  }
}

/* line 11, ../sass/nodes.scss */
.node {
  /* Node wrapper */
}
/* line 13, ../sass/nodes.scss */
.preview .node {
  /* Preview of the content before submitting new or updated content */
  /* background-color: #ffffea; */
  /* Drupal core uses a #ffffea background */
}
/* line 17, ../sass/nodes.scss */
.node .node-title {
  /* Node title */
}
/* line 20, ../sass/nodes.scss */
.node .user-picture {
  /* The picture of the node author */
}
/* line 23, ../sass/nodes.scss */
.node .submitted {
  /* The "posted by" information */
}
/* line 26, ../sass/nodes.scss */
.node .content {
  /* Node's content wrapper */
}
/* line 29, ../sass/nodes.scss */
.node ul.links {
  /* Node links. See also the ul.links declaration in the pages.css. */
}

/* line 34, ../sass/nodes.scss */
.node-promoted {
  /* A node that has been promoted to the front page */
}

/* line 37, ../sass/nodes.scss */
.node-sticky {
  /* A sticky node (displayed before others in a list) */
}

/* line 40, ../sass/nodes.scss */
.node-by-viewer {
  /* A node created by the current user */
}

/* line 43, ../sass/nodes.scss */
.node-teaser {
  /* A node displayed as teaser */
}

/*
 * All nodes are given a node-FOO class that describes the type of content that
 * it is. If you create a new content type called "my-custom-type", it will
 * receive a "node-my-custom-type" class.
 */
/* line 52, ../sass/nodes.scss */
.node-page {
  /* Page content node */
}

/* line 55, ../sass/nodes.scss */
.node-article {
  /* Article content node */
}

/* line 58, ../sass/nodes.scss */
.node-unpublished {
  /* Unpublished nodes */
  /* background-color: #fff4f4; */
  /* Drupal core uses a #fff4f4 background */
}
/* line 61, ../sass/nodes.scss */
.node-unpublished p.unpublished {
  /* The word "Unpublished" displayed underneath the content. */
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}
