/* Grids */
/* line 52, C:/Program Files (x86)/Scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table; }
/* line 56, C:/Program Files (x86)/Scout/vendor/gems/gems/zen-grids-1.2/stylesheets/zen/_grids.scss */
.container:after {
  clear: both; }

/* Front page layout */
/* line 50, ../sass/_mixins.scss */
.slider {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 54, ../sass/_mixins.scss */
.frontpage-left-col {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 58, ../sass/_mixins.scss */
.frontpage-middle-col {
  float: left;
  width: 62.5%;
  margin-left: 16.66667%;
  margin-right: -79.16667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 62, ../sass/_mixins.scss */
.frontpage-right-col {
  float: left;
  width: 20.83333%;
  margin-left: 79.16667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* Three col layout */
/* line 68, ../sass/_mixins.scss */
.three-col .three-col-left {
  float: left;
  width: 16.66667%;
  margin-left: 0%;
  margin-right: -16.66667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 72, ../sass/_mixins.scss */
.three-col .three-col-middle {
  float: left;
  width: 62.5%;
  margin-left: 16.66667%;
  margin-right: -79.16667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 76, ../sass/_mixins.scss */
.three-col .three-col-right {
  float: left;
  width: 20.83333%;
  margin-left: 79.16667%;
  margin-right: -100%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/* line 80, ../sass/_mixins.scss */
.pane-page-content > .pane-title {
  float: left;
  width: 62.5%;
  margin-left: 16.66667%;
  margin-right: -79.16667%;
  padding-left: 1%;
  padding-right: 1%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word; }

/*
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */
/*
 * Body
 */
/* line 18, ../sass/pages.scss */
body {
  margin: 0;
  padding: 0;
  background: #e9e9e9 url("../images/bg.jpg") repeat top;
  font-family: "Arial", sans-serif; }

/* line 25, ../sass/pages.scss */
a {
  color: #881728;
  text-decoration: none;
  font-size: 12px;
  display: block;
  line-height: normal; }

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 * See the element-focusable rule in system.base.css.
 */
/* Basic styles */
/* line 36, ../sass/pages.scss */
.page-basic {
  background: transparent;
  overflow: hidden; }
  /* line 39, ../sass/pages.scss */
  .page-basic > .panel-panel {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    clear: both; }
  /* line 45, ../sass/pages.scss */
  .page-basic > .content {
    background: #fff;
    padding: 15px 0 35px; }
  /* line 49, ../sass/pages.scss */
  .page-basic .footer {
    background: #878787;
    color: #fff;
    font-size: 10px;
    padding: 16px 0 10px;
    line-height: 15px; }
  /* line 57, ../sass/pages.scss */
  .page-basic .panels-flexible-region-first {
    width: 570px; }
  /* line 60, ../sass/pages.scss */
  .page-basic .pane-menu-menu-footer-menu {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 6px; }
    /* line 66, ../sass/pages.scss */
    .page-basic .pane-menu-menu-footer-menu .menu li {
      float: left;
      margin-right: 10%; }
      /* line 69, ../sass/pages.scss */
      .page-basic .pane-menu-menu-footer-menu .menu li.last {
        margin: 0; }
    /* line 73, ../sass/pages.scss */
    .page-basic .pane-menu-menu-footer-menu .menu a {
      color: #fff;
      text-decoration: none;
      padding-left: 9px;
      background: url("../images/footer-menu-arrow.png") no-repeat left 5px; }
  /* line 81, ../sass/pages.scss */
  .page-basic .panels-flexible-region-last {
    width: 21%;
    float: right; }
    /* line 84, ../sass/pages.scss */
    .page-basic .panels-flexible-region-last img {
      width: 100%;
      height: auto; }
  /* line 89, ../sass/pages.scss */
  .page-basic .content > .inside, .page-basic .footer > .inside {
    margin: 0 2%;
    width: 96%; }
  /* line 95, ../sass/pages.scss */
  .not-front .page-basic .content > .inside {
    width: 98%;
    margin: 0 1%; }
  /* line 100, ../sass/pages.scss */
  .page-basic .header {
    background: url("../images/header-bg.jpg") repeat-x top; }
    /* line 102, ../sass/pages.scss */
    .page-basic .header img {
      float: left;
      margin-top: 23px; }
  /* line 108, ../sass/pages.scss */
  .page-basic .pane-pane-header {
    height: 80px;
    background: url("../images/header-connectors.png") no-repeat 230px 0;
    margin: 0 2%;
    width: 96%; }
  /* line 114, ../sass/pages.scss */
  .page-basic #name-and-slogan {
    display: none; }

/* Main menu */
/* line 121, ../sass/pages.scss */
.main-menu {
  position: relative;
  z-index: 11; }

/* line 126, ../sass/pages.scss */
.header .main-menu {
  width: 100%;
  float: left;
  height: 31px;
  padding: 0 0 5px 0;
  background: url("../images/menu-bg.png") repeat-x bottom; }
  /* line 132, ../sass/pages.scss */
  .header .main-menu ul {
    width: 100%;
    border: none; }
    /* line 135, ../sass/pages.scss */
    .header .main-menu ul ul {
      border: none; }
    /* line 138, ../sass/pages.scss */
    .header .main-menu ul li {
      border: none;
      background: transparent; }

/* line 145, ../sass/pages.scss */
.main-menu ul li.menuparent {
  border: none;
  background: transparent; }
  /* line 148, ../sass/pages.scss */
  .main-menu ul li.menuparent:hover {
    border: none;
    background: transparent; }

/* line 155, ../sass/pages.scss */
.header .main-menu ul li {
  width: 16.66%;
  height: 31px; }
/* line 159, ../sass/pages.scss */
.header .main-menu ul a {
  font-size: 12px;
  color: #5e5e5e;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 0 17px;
  display: block;
  height: 31px;
  line-height: 31px; }
/* line 169, ../sass/pages.scss */
.header .main-menu ul li:hover {
  height: 30px;
  border-bottom: 2px solid #93303f; }
/* line 173, ../sass/pages.scss */
.header .main-menu ul ul {
  padding-top: 2px;
  top: 32px;
  padding: 5px 0; }
  /* line 177, ../sass/pages.scss */
  .header .main-menu ul ul li {
    width: 92%;
    margin: 0;
    padding: 0;
    height: auto;
    padding: 0 4%;
    background: #efefef;
    border: 1px solid #ccc;
    border-top: none; }
    /* line 186, ../sass/pages.scss */
    .header .main-menu ul ul li:hover {
      background: #fff; }
    /* line 189, ../sass/pages.scss */
    .header .main-menu ul ul li a {
      line-height: normal;
      height: auto;
      padding: 7px 0;
      color: #881728; }
      /* line 194, ../sass/pages.scss */
      .header .main-menu ul ul li a:hover {
        text-decoration: underline; }
/* line 200, ../sass/pages.scss */
.header .main-menu ul li:hover li {
  height: auto;
  border: 1px solid #ccc;
  border-top: none; }

/* line 208, ../sass/pages.scss */
.pane-page-content > .pane-title {
  font-size: 24px;
  color: #474747;
  font-weight: bold;
  padding-bottom: 15px; }
/* line 214, ../sass/pages.scss */
.pane-page-content > .pane-content {
  clear: both; }

/* Layouts */
/* line 221, ../sass/pages.scss */
.panel-frontpage .center-wrapper {
  clear: both; }

/* line 224, ../sass/pages.scss */
.frontpage-middle-col {
  line-height: 18px;
  font-size: 13px;
  -webkit-box-shadow: 3px 3px 2px 1px #efefef;
  -moz-box-shadow: 3px 3px 2px 1px #efefef;
  -ms-box-shadow: 3px 3px 2px 1px #efefef;
  -o-box-shadow: 3px 3px 2px 1px #efefef;
  box-shadow: 3px 3px 2px 1px #efefef;
  padding-bottom: 10px; }

/* line 231, ../sass/pages.scss */
.frontpage-middle-left {
  width: 66%;
  float: left;
  margin: 2.5% 0 0 1.5%;
  border-right: 1px solid #bbbdbe;
  padding-right: 3%; }

/* line 239, ../sass/pages.scss */
.frontpage-middle-right {
  width: 26%;
  float: right;
  margin-left: 2.5%; }

/* line 245, ../sass/pages.scss */
.three-col-middle {
  font-size: 13px; }

@media (max-width: 600px) {
  /* line 262, ../sass/pages.scss */
  .page-basic .footer .pane-menu-menu-footer-menu {
    padding: 0; }
    /* line 265, ../sass/pages.scss */
    .page-basic .footer .pane-menu-menu-footer-menu .menu li {
      background: #a1a1a1;
      clear: both;
      width: 100%;
      margin: 0 0 14px 0; }
    /* line 271, ../sass/pages.scss */
    .page-basic .footer .pane-menu-menu-footer-menu .menu a {
      background: url("../images/footer-arrow.png") no-repeat right center;
      padding: 7px 0;
      margin: 0 12px;
      margin: 0 1% 0 2%;
      width: 97%; }
  /* line 280, ../sass/pages.scss */
  .page-basic .footer .panels-flexible-region-first {
    width: 100%;
    padding-bottom: 15px; }
  /* line 285, ../sass/pages.scss */
  .page-basic .footer .panels-flexible-region-last {
    clear: both;
    float: none;
    width: 100%;
    text-align: center; }
    /* line 290, ../sass/pages.scss */
    .page-basic .footer .panels-flexible-region-last img {
      width: auto; } }
