/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/* line 61, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image img {
  width: 100%;
  height: auto;
}

@media (min-width: 901px) {
  /* line 66, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.large, .paragraph-item.paragraph-type--simple.large, .paragraph-item.paragraph-type--video.large {
    margin: 0.35em 0 1em -16.5%;
  }
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.large:before, .paragraph-item.paragraph-type--image.large:after, .paragraph-item.paragraph-type--simple.large:before, .paragraph-item.paragraph-type--simple.large:after, .paragraph-item.paragraph-type--video.large:before, .paragraph-item.paragraph-type--video.large:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .paragraph-item.paragraph-type--image.large:after, .paragraph-item.paragraph-type--simple.large:after, .paragraph-item.paragraph-type--video.large:after {
    clear: both;
  }
}

/* line 73, ../sass/_custom.scss */
.paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
  margin: 0 -8% 0 -25%;
}
@media (min-width: 601px) and (max-width: 900px) {
  /* line 73, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0 -8.25% 0 -5.5%;
  }
}
@media (max-width: 600px) {
  /* line 73, ../sass/_custom.scss */
  .paragraph-item.paragraph-type--image.full, .paragraph-item.paragraph-type--simple.full, .paragraph-item.paragraph-type--video.full {
    margin: 0;
  }
}

/* line 83, ../sass/_custom.scss */
.paragraph-type--simple {
  font-size: 18px !important;
  line-height: 1.6 !important;
  color: #474748;
  font-family: "Source Sans Pro" !important;
}

/* line 90, ../sass/_custom.scss */
.hero-image img {
  width: 100%;
  height: auto;
}

/* line 96, ../sass/_custom.scss */
.media-vimeo-video, .media-youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 107, ../sass/_custom.scss */
.media-vimeo-video iframe,
.media-vimeo-video object,
.media-vimeo-video embed,
.media-youtube-video iframe,
.media-youtube-video object,
.media-youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  /* line 115, ../sass/_custom.scss */
  ul.share-buttons {
    margin-top: 30px;
  }
  /* line 119, ../sass/_custom.scss */
  ul.share-buttons li {
    display: inline !important;
  }
}

/* line 126, ../sass/_custom.scss */
.node-type-news-article .field-name-field-image.field-type-image .field-items {
  padding: 0;
}
/* line 130, ../sass/_custom.scss */
.node-type-news-article .field-name-field-image.field-type-image .field-item {
  float: left;
  text-align: center;
  list-style: none;
  padding: 8px;
}
@media (min-width: 769px) {
  /* line 125, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image {
    /* one item */
    /* two items */
    /* three items */
    /* four items */
    /* five items */
  }
  /* line 138, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(1) {
    width: 98%;
  }
  /* line 144, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(2),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(2) ~ .field-item {
    width: 47.5%;
  }
  /* line 150, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(3),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(3) ~ .field-item {
    width: 31%;
  }
  /* line 156, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(4),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(4) ~ .field-item {
    width: 22.5%;
  }
  /* line 162, ../sass/_custom.scss */
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(5),
  .node-type-news-article .field-name-field-image.field-type-image .field-item:first-child:nth-last-child(5) ~ .field-item {
    width: 15%;
  }
}

/* line 168, ../sass/_custom.scss */
ul.share-buttons img {
  height: 30px !important;
  width: 30px !important;
  background: #4D4F53;
  padding: 5px;
  border-radius: 8px;
}

/* line 176, ../sass/_custom.scss */
ul.share-buttons .facebook img:hover {
  background: #3b5998;
}

/* line 179, ../sass/_custom.scss */
ul.share-buttons .twitter img:hover {
  background: #00aced;
}

/* line 182, ../sass/_custom.scss */
ul.share-buttons .linkedin img:hover {
  background: #0077B5;
}

/* line 185, ../sass/_custom.scss */
ul.share-buttons .email img:hover {
  background: #8c1515;
}

@media print {
  /* line 14, ../sass/print.scss */
  a:link,
  a:visited {
    /* underline all links */
    text-decoration: underline !important;
  }
  /* line 17, ../sass/print.scss */
  #site-name a:link, #site-name
  a:visited {
    /* Don't underline header */
    text-decoration: none !important;
  }

  /* line 23, ../sass/print.scss */
  #content a[href]:after {
    /* Add visible URL after links. */
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 16px;
  }
  /* line 30, ../sass/print.scss */
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    /* Only display useful links. */
    content: "";
  }
  /* line 34, ../sass/print.scss */
  #content abbr[title]:after {
    /* Add visible title after abbreviations. */
    content: " (" attr(title) ")";
  }

  /* line 39, ../sass/print.scss */
  #content {
    /* Un-float the content */
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* line 49, ../sass/print.scss */
  body,
  #page,
  #main,
  #content {
    /* Turn off any background colors or images */
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* line 68, ../sass/print.scss */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    /* Hide sidebars and nav elements */
    visibility: hidden;
    display: none;
  }
}
/* End @media print */
