.page-bean-wysiwyg .ui-dialog{
  left: 0 !important;
  width: 1024px !important;
}

.page-node ui.dialog {
  width:90% !important;
  height: 60% !important;
  min-height: 600px !important;
}

.page-bean-wysiwyg .media-modal-frame {
  width: 100% !important;
  height: 600px !important;
}

.page-media .ui-dialog {
  left: 0px !important;
  width: 1024px !important;
  height: 544px !important;
}

.page-media .ui-dialog #EPSACropDialog {
  height: 440px !important;
}